<%= form_for(@usuario, url: registrarpadre_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <div class="input-field">
        <%= f.label t('my.forms.same.name') %>
        <%= f.text_field :Nombre, class: 'validate', required: 'true' %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.forms.same.last_name') %>
        <%= f.text_field :ApellidoPaterno, class: 'validate', required: 'true' %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.forms.same.mother_last_name') %>
        <%= f.text_field :ApellidoMaterno, class: 'validate', required: 'true' %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.forms.same.birthdate'), class: 'active' %>
        <%= f.date_field :FechaNacimiento, class: 'validate', required: 'true' %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.forms.same.telephone') %>
        <%= f.number_field :Telefono, class: 'validate', required: 'true' %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.forms.same.email') %>
        <%= f.email_field :Correo, class: 'validate', required: 'true' %>
      </div>
      
      <div class="input-field">
        <select name="usuario[Sexo]" id="usuario_Sexo" required>
          <option value="<%= @usuario.Sexo %>" selected><%= t('my.forms.same.sex')%> <%= @usuario.Sexo %></option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
        </select>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.forms.same.password') %>
        <%= f.password_field :password, class: 'validate', required: 'true', minlength: 6 %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.forms.same.password_confirmation') %>
        <%= f.password_field :password_confirmation, class: 'validate', required: 'true', minlength: 6 %>
      </div>
      
      <div class="input-field">
        <input type="hidden" name="usuario[idRol]" id="usuario_Rol" value="<%= @role.idRol %>">
      </div>
      
      <div class="input-field">
        <input type="hidden" name="idNino" id="idNino" value="<%= @nino.idNino %>">
      </div>
      
      <%= f.submit t('my.buttons.save'), class: "btn waves-effect waves-light" %>
    <% end %>
    
