<% provide(:title, 'Registro Usuario') %>
<br>
<h4><%= t('my.titles.parents.new')%> <%= @nino.nombre %> <%= @nino.ApellidoPaterno %> <%= @nino.ApellidoMaterno %>: </h4>
<div class="divider"></div>

<div class="row">
  <div class="col m6 offset-m3">
  <br>
    <%= render 'form_create' %>
  </div>
</div>