<% provide(:title, @usuario.Nombre) %>
<br>
<div class="row">
  <div class="col m8">
  	<h4>
		<%= link_to '<i class="material-icons">keyboard_backspace</i>'.html_safe, 
		            usuarios_path, class: 'btn-floating waves-effect waves-light'%> 
		<%= t('my.titles.parents.show')%> <%= "#{@usuario.Nombre} #{@usuario.ApellidoPaterno} #{@usuario.ApellidoMaterno}" %>
		</h4>
  </div>
  <div class="col m4">
    <br>
    <% if (tiene_permiso(current_user, 2)) %>
			<button class="btn waves-effect waves-light">
    			<%= link_to t('my.buttons.edit'), edit_usuario_path(@usuario), class: "white-text" %>
	    	<i class="material-icons right">edit</i>
	    </button>
	    <br><br>
	    <button class="btn waves-effect waves-light">
	    			<%= link_to t('my.buttons.restore_password'), usuario_path(@usuario), class: "white-text" %>
	    	<i class="material-icons right">edit</i>
	    </button>
    <% end %>
  </div>
</div>

<div class="divider"></div>

<div class="row">
  <div class="col m6 offset-m3">
  <br>
		<label class="active" for="idUsuario"><strong><%= t('my.forms.same.idUser')%></strong></label>
		<p id="idUsuario"><%= @usuario.idUsuario %></p>
		<div class="divider"></div>
		<br>
		
		<label class="active" for="NombreUsuario"><strong><%= t('my.forms.same.name_complete')%></strong></label>
		<p id="NombreUsuario"><%= "#{@usuario.Nombre} #{@usuario.ApellidoPaterno} #{@usuario.ApellidoMaterno}" %></p>
		<div class="divider"></div>
		<br>

		<label class="active" for="NacimientoUsuario"><strong><%= t('my.forms.same.birthdate')%></strong></label>
		<p id="NacimientoUsuario"><%= I18n.l @usuario.FechaNacimiento, format: :long %></p>
		<div class="divider"></div>
		<br>
		
		<label class="active" for="CorreoPersonal"><strong><%= t('my.forms.same.email')%></strong></label>
		<p id="CorreoPersonal"><%= @usuario.Correo %></p>
		<div class="divider"></div>
		<br>

		<label class="active" for="Telefono"><strong><%= t('my.forms.same.telephone')%></strong></label>
		<p id="Telefono"><%= @usuario.Telefono %></p>
		<div class="divider"></div>
		<br>

		<label class="active" for="Sexo"><strong><%= t('my.forms.same.sex')%></strong></label>
		<p id="Sexo"><%= @usuario.Sexo %></p>
		<div class="divider"></div>
		<br>

		<label class="active" for="Activo"><strong><%= t('my.forms.same.status')%></strong></label>
		<p id="Activo">
		<%= 
		if(@usuario.Activo)
			"Activo"
		else 
		  "Inactivo"
		end
	  %>
  	</p>
  	<div class="divider"></div>
  	<br>
  	
    <label class="active" for="Rol"><strong><%= t('my.forms.same.role_user')%></strong></label>
  	<p id="Rol"><%= @roles.find(@usuario.idRol).Nombre %></p>
  	<div class="divider"></div>
    <br>
  	
  </div>
</div>