<% if(@nino.count > 0) %>
    <%= form_tag(assign_nino_path(params[:idUsuario]), method: "post", remote: true, html: { style: "display:inline;" }) do %>
    <table class="bordered highlight">
      <thead>
        <tr>
          <th></th>
          <th>idNiño</th>
          <th>Nombre completo</th>
          <th>Edad</th>
        </tr>
      </thead>
      <tbody>
        <div class="input-field col s12">
        <% @nino.each do |p| %>
          <tr>
            <td> 
              <input type="checkbox" name="nino[]" id="<%= p.idNino %>" value="<%= p.idNino %>"/>
              <label for="<%= p.idNino %>"></label></td>
              <td><%= p.idNino %></td>
              <td>
                <%= p.nombre+" "+p.ApellidoPaterno+" "+p.ApellidoMaterno %>
              </td>
              <td><%= p.Edad %></td>
            </tr>
          <% end %>
          </div>
        </tbody>
      </table>
      <br>
      <button class="btn waves-effect waves-light" type="submit" name="guardar" value="Listo">
        <a class="white-text">Guardar</a>
        <i class="material-icons right">save</i>
      </button>
      <%= link_to "Cancelar", "#", class: "modal-action modal-close waves-effect btn-flat", data: {dismiss: "modal"} %>
    <% end %>
  <% else %>
    <br>
    Ya han sido asignados todos los niños activos en el sistema.
  <% end %>

