<% provide(:title, "Terapeutas") %>
<br>
<div class="row">
  <div class="col m8">
    <h4><%= t('my.therapists')%></h4>
  </div>
</div>

<div class="divider"></div>

<br>

<%= form_tag("/terapeutas", method: "post") do %>
  <div class="row">
    <div class="input-field col s4">
      <%= label_tag(:query, t('my.forms.search')) %>
      <%= text_field_tag(:query) %>
    </div>
    <div class="input-field col s4">
      <button class="btn waves-effect waves-light" type="submit" name="submit" value="enviar"><%= t('my.buttons.search')%>
          <i class="material-icons right">search</i>
      </button>
    </div>
  </div>
<% end %>

<br>
<br>

<div class="row">
  <div class="col m12">
    <%  if (@usuarios.count == 0) %>
      <div class="chip" id="error">
        <%= "No se encontraron terapeutas con ese nombre" %>
        <i class="close material-icons">close</i>
      </div> 
    <% else %>
    <%= will_paginate @usuarios, renderer: MaterializePagination::Rails %>
    <table class="highlight" id="usuarios">
        <thead>
          <tr>
              <th><%= t('my.full_name')%></th>
              <th><%= t('my.id_user')%></th>
              <th><%= t('my.email')%></th>
              <th><%= t('my.telephone')%></th>
              <th class="center-align"><%= t('my.child_assiged')%></th>
              <% if (tiene_permiso(current_user, 2)) %>
                <th><%= t('my.status')%></th>
              <% end %>
              <th><%= t('my.buttons.more')%></th>
          </tr>
        </thead>

        <tbody>
          <% @usuarios.each do |usuario| %>
          <% @asignado = Nino.where(idTerapeuta: usuario.idUsuario).count %>
          <tr>
            <td><%= link_to "#{usuario.Nombre} #{usuario.ApellidoPaterno} #{usuario.ApellidoMaterno}", usuario %></td>
            <!-- <td><%#= usuario.idUsuario %></td> -->
            <td><%= usuario.Correo %></td>
            <td><%= usuario.Telefono %></td>
            <td class="center-align"><%= @asignado %></td>
            <% if (tiene_permiso(current_user, 2)) %>
            <td>
              <div class="switch">
                <label>
                  No
                  <input id="Activo<%= usuario.idUsuario %>" name="Activo" type="checkbox" 
                  onclick="usuarioActivo(<%= usuario.idUsuario %>)" <%= if (usuario.Activo) 
                                                                              "checked" 
                                                                         end %>
                  >
                  <span class="lever"></span>
                  Si
                </label>
              </div>
            </td>
            <% end %>
            <td>
              <%= link_to '<i class="material-icons">trending_flat</i>'.html_safe, 
        		            usuario, class: 'btn-floating waves-effect waves-light'%> 
            </td>
          </tr>
          <% end %> 
        </tbody>
    </table>
    <%= will_paginate @usuarios, renderer: MaterializePagination::Rails %>
    <% end %>
  </div>
</div>
