<br>
<% if (current_user.idRol == 2) %>
    <h4> Niños asignados a: <%= "#{@usuario.Nombre} #{@usuario.ApellidoPaterno} #{@usuario.ApellidoMaterno}" %> </h4>
<% else %>
	<h4>
		<%= link_to '<i class="material-icons">keyboard_backspace</i>'.html_safe, "/usuarios/#{@usuario.idUsuario}", class: 'btn-floating waves-effect waves-light'%> 
		 Niños asignados a: <%= "#{@usuario.Nombre} #{@usuario.ApellidoPaterno} #{@usuario.ApellidoMaterno}" %>
	</h4>
<% end %>
<div class="divider"></div>
<br>
<% if (@usuario.Activo == false) %>
    <br>
    <div class="chip">
        <%= "Necesita activar primero al terapeuta" %>
        <i class="close material-icons">close</i>
    </div> 
<% else %>
    <% if (tiene_permiso(current_user, 1)) %>
    	<a class="white-text" href="/terapeutas/<%= params[:idUsuario] %>/new" data-remote="true">
        <button class="btn waves-effect waves-light" >
            Asignar niños
            <i class="material-icons right">add</i>
        </button>
      </a>
    <% end %>
    <div class="row">
      <div class="col m12">
        <%  if (@nino.count == 0) %>
        <br>
             <div class="chip">
            <%= "No se encontraron niños asignados a este terapeuta" %>
            <i class="close material-icons">close</i>
          </div> 
        <% else %>
        <%= will_paginate @nino, renderer: MaterializePagination::Rails %>
    
    <table class="highlight" id="ninos">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>idNiño</th>
                <th>Fecha de nacimiento</th>
                <th>Edad</th>
                <% if (tiene_permiso(current_user, 3)) %>
                <th>Desasignar</th>
                <% end %>
                <th>Más</th>
            </tr>
        </thead>
        <tbody>
            <% @nino.each do |nino| %>
            <tr>
                <td><%= link_to nino.nombre+" "+nino.ApellidoPaterno+" "+nino.ApellidoMaterno, nino %></td>
                <td><%= nino.idNino %></td>
                <td><%= nino.FechaNacimiento %></td>
                <td><%= nino.Edad %></td>
                <% if (tiene_permiso(current_user, 3)) %>
                <td>
                <%= link_to '<i class="material-icons right">delete</i>'.html_safe, destroy_nino_path(params[:idUsuario],idNino: nino.idNino), method: :post,
                class: 'btn-floating waves-effect red', data: { confirm: "¿Está seguro que quiere desasignar a este niño?" }%>
                </td>
                <% end %>
                <td><%= link_to '<i class="material-icons">trending_flat</i>'.html_safe, 
    		            nino, class: 'btn-floating waves-effect waves-light'%></td>
            </tr>
            <% end %>
        </tbody>
    </table>
     <%= will_paginate @nino, renderer: MaterializePagination::Rails %>
        <% end %>
      </div>
    </div>
    
    <div id="nino-modal" class="modal"></div>
<% end %>