</div><!--Parallax-->
<div class="parallax-container">
    <div class="parallax"> <%= image_tag "parallax3.jpg" %></div>
</div>
<div class="container">
    
<!--Intro and service-->
<div id="intro" class="section scrollspy">
        <div class="row">
            <div  class="col s12">
                <h4 class="justify-align"> El Centro de Atención para niños con Daño Cerebral, A.C. NENS DE LUM es un espacio de apoyo y 
                cuidados especiales donde niños con daño cerebral severo pueden desarrollarse de una mejor manera, bajo las condiciones 
                y cuidados específicos que les permitirán tener una mejor calidad de vida. </h4>
            </div>
        </div>
        <div class="row">
            <div  class="col s12">
                <h3><%= t('my.home.mission')%>:</h3>
                <blockquote><h5>Brindar atención integral y personalizada a niños con daño cerebral severo, para </h5>
                <h5>colaborar en la reconstrucción de la funcionalidad de su familia.</h5></blockquoute>
            </div>
        </div>
        <div class="row">
            <div  class="col s12">
                <h3><%= t('my.home.vision')%>:</h3>
                <blockquote><h5>En 2021, Nens del Llum es una organización sustentable con personal calificado y</h5>
                <h5>suficiente que opera al menos en 5 estados de la república, que cuenta con una</h5>
                <h5>certificación de calidad y transparencia por organismos relevantes y atiende</h5>
                <h5>al menos 250 personas con daño cerebral severo.</h5></blockquoute>
            </div>
        </div>
</div>
<div id="terapias" class="section scrollspy">
        <h3><%= t('my.home.therapies')%>:</h3>
        <div class="row">   
            <div  class="col s12 m2 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator"> <%= image_tag "office.jpg" %>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4" style="size: 200px"><%= t('my.home.therapie_physical')%><br><i class="material-icons right">more_vert</i><br></span>
                        </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><%= t('my.home.therapie_physical')%><i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div  class="col s12 m2 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator"> <%= image_tag "office.jpg" %>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><%= t('my.home.therapies_sensitization')%><i class="material-icons right">more_vert</i></span>
                        </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><%= t('my.home.therapies_sensitization')%><i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div  class="col s12 m2 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator"> <%= image_tag "office.jpg" %>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><%= t('my.home.stimulation')%><br><i class="material-icons right">more_vert</i><br></span>
                        </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><%= t('my.home.stimulation')%><i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div  class="col s12 m2 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                       <img class="activator"> <%= image_tag "office.jpg" %>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><%= t('my.home.therapy_vojta')%><br><i class="material-icons right">more_vert</i><br></span>
                        </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><%= t('my.home.therapy_vojta')%><i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div  class="col s12 m2 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator"> <%= image_tag "office.jpg" %>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><%= t('my.home.therapy_stimulation')%><i class="material-icons right">more_vert</i></span>
                        </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><%= t('my.home.therapy_stimulation')%><i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div  class="col s12 m2 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator"> <%= image_tag "office.jpg" %>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><%= t('my.home.bioptron_photo')%><br><i class="material-icons right">more_vert</i><br></span>
                        </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><%= t('my.home.bioptron_photo')%><i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
    </div>
</div>

<!--Work-->
<div class="section scrollspy" id="work">
    <h3 class="header text_b"><%= t('my.home.photos')%> </h3>
    <div class="slider">
        <ul class="slides">
            <li><%= image_tag("/assets/Canidace1.jpg", class: "carousel-item") %></li>
            <li><%= image_tag("/assets/Canidace2.jpg", class: "carousel-item") %></li>
            <li><%= image_tag("/assets/Canidace3.jpg", class: "carousel-item") %>/li>
            <li><%= image_tag("/assets/Canidace4.jpg", class: "carousel-item") %></li>
        </ul>
    </div>
</div>

<div class="section scrollspy" id="contact">
    <h3 class="header text_b"><%= t('my.home.location')%> </h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14937.557850766498!2d-100.42559437739692!3d20.612976229599333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d35a9a9fd978b7%3A0xa7d47a64dcd6f3cd!2sQu%C3%ADmica+67%2C+Industrial%2C+Santiago+de+Quer%C3%A9taro%2C+Qro.%2C+M%C3%A9xico!5e0!3m2!1ses!2smx!4v1479355122190" width="800" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>