<div class="container">
  <h1><%= t('my.home.welcome')%></h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
</div>