<tr>
  <td>
       <%= privilegio.Nombre %>
  </td>
  <td>
       <%= privilegio.Descripcion %>
  </td>
  <% if (tiene_permiso(current_user, 3)) %>
  <td>
     <a href="/roles_privilegio/<%= @role.idRol %>/<%= privilegio.idPrivilegio %>/delete" class="btn-floating btn modal-trigger" type="button" 
       data-method="delete" data-confirm="<%= t('my.delete.privilegio')%>">
       <i class="tiny material-icons">delete</i>
     </a>         
  </td>
  <% end %>
</tr>