<% provide(:title, "Pagos") %>
<h4><%= t('my.titles.payments.index')%></h4>

<div class="divider"></div><br/>

<%#= link_to '<i class="material-icons right">perm_contact_calendar</i> Lista de pagos'.html_safe,'/pagos',:class => 'btn waves-effect waves-light'%>

<%#= will_paginate @padres,renderer: MaterializePagination::Rails %>
<a href="<%= new_pago_path%>" class="btn waves-effect waves-light" type="button"><%= t('my.buttons.register_payment')%><i class="right material-icons">library_add</i></a>
<%#= link_to '<i class="material-icons right">library_add</i> Registrar pago'.html_safe,new_pago_path,:class => 'btn waves-effect waves-light'%>

<%  if (@pagos.count == 0) %>
  <br/><br/>
  <div class="chip" id="error">
    <%= "No hay registros de pagos" %>
    <i class="close material-icons">close</i>
  </div> 
<% else %>
<table class="bordered highlight responsive-table">
  <thead>
    <tr>
      <th><%= t('my.titles.tables.payments.parent_name')%></th>
      <th><%= t('my.titles.tables.payments.child_name')%></th>
      <th><%= t('my.titles.tables.payments.percentage')%></th>
      <th><%= t('my.titles.tables.payments.status')%></th>
      <th><%= t('my.titles.tables.payments.payments')%></th>
    </tr>
  </thead>
  <tbody>
    <!--
    <%# @pagos.each do |pago| %>
    <tr>
      <td><%#= pago.usuario.Nombre %> <%#= pago.usuario.ApellidoPaterno %> <%#= pago.usuario.ApellidoMaterno %></td>
      <td>
        <%# @padres.each do |padre|%>
            <%#if padre.idUsuario == pago.usuario_id%>
              <%# @ninos.each do |nino|%>
                <%# if nino.idNino == padre.idNino%>
                  <%#= nino.nombre%> <%#= nino.ApellidoPaterno%> <%#= nino.ApellidoMaterno%>
                <%#end%>
              <%#end%>
            <%#end%>
        <%#end%>
      </td>
      <td>
        <%# @padres.each do |padre|%>
            <%#if padre.idUsuario == pago.usuario_id%>
              <%# @ninos.each do |nino|%>
                <%# if nino.idNino == padre.idNino%>
                  <%#= nino.PorcentajeBeca%>%
                <%#end%>
              <%#end%>
            <%#end%>
        <%#end%>
      </td>
      <td>
        <%# @padres.each do |padre|%>
            <%#if padre.idUsuario == pago.usuario_id%>
              <%# @ninos.each do |nino|%>
                <%# if nino.idNino == padre.idNino%>
                  <%# if nino.Activo == true%>
                    Activo
                  <%#else%>
                    Desactivo
                  <%#end%>
                <%#end%>
              <%#end%>
            <%#end%>
        <%#end%>
      </td>
      <td><a href="/pagos_por_padre/<%#= pago.usuario_id%>" class="btn-floating btn " type="button"><i class="tiny material-icons">monetization_on</i></a></td>
      <!--<th><a href="/pagos/<%#= pago.id%>" class="btn-floating btn modal-trigger red" type="button" data-method="delete" data-confirm="¿Estas seguro de eliminar todo el registro del pago?"><i class="material-icons">delete</i></a></th>-->
    <!--</tr>-->
    <%# end %>
    <% @padres.each do |padre| %>
    <tr>
      <td><%= padre.usuario.Nombre %> <%= padre.usuario.ApellidoPaterno %> <%= padre.usuario.ApellidoMaterno %></td>
      <td>
        <%= padre.nino.nombre %> <%= padre.nino.ApellidoPaterno %> <%= padre.nino.ApellidoMaterno %>
      </td>
      <td>
        <%= padre.nino.PorcentajeBeca %>
      </td>
      <td>
        <% if padre.nino.Activo == true%>
          Activo
        <%else%>
          Desactivo
        <%end%>
      </td>
      <td><a href="/pagos_por_padre/<%= padre.idUsuario%>" class="btn-floating btn " type="button"><i class="tiny material-icons">monetization_on</i></a></td>
    <% end %>
  </tbody>
</table>
<br/>
<% end %>

<%#= will_paginate @padres,renderer: MaterializePagination::Rails %>