<% provide(:title, "Registrar Pago") %>
<h4><%= t('my.titles.payments.new')%></h4>

<div class="divider"></div><br/>

<%= form_for @pago, url: pagos_path(@pago) do |p| %>
  <% @pago.errors.full_messages.each do |message| %>
    <div class="container">
      *<%= message%>
    </div>
  <% end %>
  <div class="row">
    <div class="input-field col s12 m6">
      <i class="material-icons prefix">work</i>
      <%= p.label t('my.forms.same.amount') %><br />
      <%= p.number_field :cantidad, id: "cantidad", class:"validate text_field",type: "text", required:'true'%>
    </div>
    <div class="input-field col s12 m6">
      <i class="material-icons prefix">today</i>
      <%= p.label t('my.forms.same.date_payment') %><br />
      <%= p.text_field :fecha_pago, id: "fecha_pago", type:"date", class:"datepicker",required:'true'%>
    </div>
  </div>
   <div class="row">
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">contacts</i>
          <%#=p.collection_select(:usuario_id, Usuario.where(idRol:3), :idUsuario,:Nombre, { :prompt => true } ) %>
          <%#=p.collection_select(:usuario_id, Usuario.where(idRol:3, Activo:true), :idUsuario,:Nombre, { :prompt => true } ) %>
          <%#=p.collection_select(:usuario_id, Usuario.where(idUsuario: Padre.select("idUsuario").where(idNino: Nino.select("idNino").where(Activo: 'true'))) , :idUsuario,:Nombre, { :prompt => true } ) %>
         
         <select name="pago[usuario_id]">
          <option disabled selected><%= t('my.forms.donations.new.select_parent')%></option>
          <% @padres.each do |padre|%>
            <option value="<%=padre.idUsuario%>"><%=padre.Nombre%> <%=padre.ApellidoMaterno%> <%=padre.ApellidoPaterno%></option>
          <%end%>
          </select>
       </div>
   </div>
  <%#= p.hidden_field :usuario_id, :value => @padre.idUsuario %>
  <br/><br/>
  
  <div class="row">
    <%= p.submit t('my.buttons.save'), :class => 'waves-effect waves-light btn' %>
    <a href="/pagos" class="btn waves-effect waves-light red" type="button"><%= t('my.buttons.cancel')%><i class="right material-icons">replay</i></a>
    <%#= link_to '<i class="material-icons">replay</i> Cancelar'.html_safe,'/pagos',:class => 'btn waves-effect waves-light red'%>
  </div>
<% end %>
