<% provide(:title, "Registrar Pago") %>
<h4>Formulario para registrar un nuevo pago</h4>

<%= form_for @pago, url: pagos_path(@pago) do |p| %>
  <% @pago.errors.full_messages.each do |message| %>
    <div class="container">
      *<%= message%>
    </div>
  <% end %>
  <div class="row">
    <div class="input-field col s12 m6">
      <i class="material-icons prefix">work</i>
      <%= p.label :cantidad %><br />
      <%= p.number_field :cantidad, id: "cantidad", class:"validate text_field",type: "text", required:'true'%>
    </div>
    <div class="input-field col s12 m6">
      <i class="material-icons prefix">today</i>
      <%= p.label :fecha_pago %><br />
      <%= p.text_field :fecha_pago, id: "fecha_pago", type:"date", class:"datepicker",required:'true'%>
    </div>
  </div>
  <div class="row">
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">contacts</i>
          <%#=p.select :asignado, options_from_collection_for_select(@ninos,:idNino,:nombre) %>
          <%=p.collection_select(:usuario_id, Usuario.where(idRol:3, Activo:true), :id, :nombre, { :prompt => true } ) %>
       </div>
   </div>
  
  <br/><br/>
  
  <div class="row">
    <%= p.submit 'Guardar', :class => 'waves-effect waves-light btn' %>
    <%= link_to '<i class="material-icons">replay</i> Cancelar'.html_safe,:back,:class => 'btn waves-effect waves-light red'%>
  </div>
<% end %>
