<% provide(:title, "Pagos-Hijo") %>
<h4><%= t('my.titles.payments.my_payments')%> <%= @padre.Nombre%> <%= @padre.ApellidoPaterno%> <%= @padre.ApellidoMaterno%></h4>

<div class="divider"></div><br/>

<%# @pagos.each do |pago| %>
  <%# @padres.each do |padre|%>
    <%#if padre.idUsuario == pago.usuario_id%>
      <%# @ninos.each do |nino|%>
        <%# if nino.idNino == padre.idNino%>
          <!--<h4>Nombre del hijo: <%#= nino.nombre%> <%#= nino.ApellidoPaterno%> <%#= nino.ApellidoMaterno%></h4>-->
        <%#end%>
      <%#end%>
    <%#end%>
  <%#end%>
<%#end%>

<% @padres.each do |padre|%>
  <%if padre.idUsuario == @padre.idUsuario%>
    <% @ninos.each do |nino|%>
      <% if nino.idNino == padre.idNino%>
        <h4><%= t('my.titles.payments.my_child')%> <%= nino.nombre%> <%= nino.ApellidoPaterno%> <%= nino.ApellidoMaterno%></h4>
      <%end%>
    <%end%>
  <%end%>
<%end%>

<%  if (@pagos.count == 0) %>
  <br/><br/>
  <div class="chip" id="error">
    <%= "No hay registros de pagos" %>
    <i class="close material-icons">close</i>
  </div> 
<% else %>
<table class="bordered highlight responsive-table">
  <thead>
    <tr>
      <th><%= t('my.titles.tables.payments.amount')%></th>
      <th><%= t('my.titles.tables.payments.percentage')%></th>
      <th><%= t('my.titles.tables.payments.date')%></th>
    </tr>
  </thead>
  <tbody>
    <% @pagos.each do |pago| %>
    <tr>
      <td>
        <%= pago.cantidad%>  
      </td>
      <td>
        <% @padres.each do |padre|%>
            <%if padre.idUsuario == pago.usuario_id%>
              <% @ninos.each do |nino|%>
                <% if nino.idNino == padre.idNino%>
                  <%= nino.PorcentajeBeca%>%
                <%end%>
              <%end%>
            <%end%>
        <%end%>
      </td>
      <td>
         <%= I18n.l pago.fecha_pago, format: :long%>
      </td>  
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<% end %>