<% provide(:title, "Pagos") %>
<h4><%= link_to '<i class="material-icons left">keyboard_backspace</i>'.html_safe, '/pagos', class: 'btn-floating waves-effect waves-light'%>
    <%= t('my.titles.payments.parent')%> <%= @padre.Nombre %> <%= @padre.ApellidoPaterno %> <%= @padre.ApellidoMaterno %> <br />
    <%= t('my.titles.payments.parent_of')%>
<% @padres.each do |pa|%>
    <%if pa.idUsuario == @padre.idUsuario%>
        <%= pa.nino.nombre%> <%= pa.nino.ApellidoPaterno%> <%= pa.nino.ApellidoMaterno%>
    <%end %>
<% end %>
</h4>

<div class="divider"></div><br/>

<% @padres.each do |pa|%>
    <%if pa.idUsuario == @padre.idUsuario%>
        <h4><%= t('my.forms.same.scholarship')%> <%= pa.nino.PorcentajeBeca%>%  <strong> <%= t('my.titles.payments.amount_payable')%> <%= 1900-((pa.nino.PorcentajeBeca*1900)/100)%></strong></h4>
    <%end %>
<% end %>

<%#= link_to '<i class="material-icons right">library_add</i> Registrar pago'.html_safe,'pagos_por_padre/new/(:id => @padre.idUsuario)',:class => 'btn waves-effect waves-light'%>
<a href="/pagos_por_padre/new/<%= @padre.idUsuario%>" class="btn waves-effect waves-light" type="button"><%= t('my.buttons.parent_payment')%> <%= @padre.Nombre %><i class="material-icons right">library_add</i></a>

<%  if (@pagos.count == 0) %>
  <br/><br/>
  <div class="chip" id="error">
    <%= "No hay registros de pagos" %>
    <i class="close material-icons">close</i>
  </div> 
<% else %>
<table class="bordered highlight responsive-table">
  <thead>
    <tr>
      <th><%= t('my.titles.tables.payments.amount')%></th>
      <th><%= t('my.titles.tables.payments.date')%></th>
      <th><%= t('my.buttons.edit')%></th>
      <th><%= t('my.buttons.delete')%></th>
    </tr>
  </thead>
  <tbody>
    <% @pagos.each do |pago| %>
        <% if pago.usuario_id == @padre.idUsuario%>
            <tr>
              <td><%= pago.cantidad %></td>
              <td><%= I18n.l pago.fecha_pago, format: :long %></td>
              <td><a href="/pagos/<%= pago.id%>/edit" class="btn-floating btn " type="button"><i class="tiny material-icons">mode_edit</i></a></td>
              <td><a href="/pagos/<%= pago.id%>" class="btn-floating btn modal-trigger red" type="button" data-method="delete" data-confirm="<%= t('my.delete.payment')%>"><i class="material-icons">delete</i></a></td>
            </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
<br/>
<% end %>

