<% provide(:title, "Editar donacion") %>
<h4><%= t('my.titles.donations.edit')%></h4>

<div class="divider"></div><br/>

<%= form_for @donacion,:url => {:controller => "donaciones", :action => "update" } do |p| %>
  <% @donacion.errors.full_messages.each do |message| %>
    <div class="container">
      *<%= message%>
    </div>
  <% end %>
  <div class="row">
    <div class="input-field col s12 m6">
      <i class="material-icons prefix">work</i>
      <%= p.label t('my.forms.donations.edit.amount') %><br />
      <%= p.number_field :cantidad, id: "cantidad", class:"validate text_field",type: "text", required:'true'%>
    </div>
    <div class="input-field col s12 m6">
      <i class="material-icons prefix">today</i>
      <%= p.label t('my.forms.donations.edit.donation_date')%><br />
      <%= p.text_field :fecha_donacion, id: "fecha_donacion", type:"date", class:"datepicker",required:'true'%>
    </div>
  </div>
    <div class="row">
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">contacts</i>
          <%#=p.select :asignado, options_from_collection_for_select(@ninos,:idNino,:nombre) %>
          <%=p.collection_select(:donador_id, Donador.all, :id, :nombre, { :prompt => false }, ) %>
    </div>
   </div>
  
  <br/><br/>
  
  <div class="row">
    <%= p.submit t('my.buttons.save'), :class => 'waves-effect waves-light btn' %>
    <%= link_to t('my.buttons.cancel').html_safe,'/donaciones',:class => 'btn waves-effect waves-light red'%>
  </div>
<% end %>
