<% provide(:title, "Donaciones") %>
<h4><%= t('my.titles.donations.index') %></h4>

<div class="divider"></div><br/>

<%#= form_tag donaciones_path, :method => 'get', :id => "donaciones_search" do %>
  <!--<div class="row">
    <div class="input-field col s4">
      <%#= label_tag(:search, "Busqueda por Nombre del donador") %>
      <%#= text_field_tag :search, params[:search]%>
    </div>
    <div class="input-field col s4">
      <button class="btn waves-effect waves-light" type="submit" name="submit" value="enviar">Buscar
        <i class="material-icons right">search</i>
      </button>
    </div>
  </div>-->
<%# end %>

<a href="/donaciones/new" class="btn waves-effect waves-light" type="button"><%= t('my.buttons.new.donation') %><i class="material-icons right">library_add</i></a>
<%#= link_to '<i class="material-icons right">library_add</i>'.html_safe,'/donaciones/new',:class => 'btn waves-effect waves-light'%>


<%= will_paginate @donaciones,renderer: MaterializePagination::Rails %>

<%  if (@donaciones.count == 0) %>
  <br/><br/>
  <div class="chip" id="error">
    <%= "No hay registros de donaciones" %>
    <i class="close material-icons">close</i>
  </div> 
<% else %>
<table class="bordered highlight responsive-table">
  <thead>
    <tr>
      <th><%= t('my.titles.tables.donations.donador_name') %></th>
      <th><%= t('my.titles.tables.donations.amount') %></th>
      <th><%= t('my.titles.tables.donations.id_donation') %></th>
      <th><%= t('my.titles.tables.donations.date_donation') %></th>
      <th><%= t('my.titles.tables.donations.date_register') %></th>
      <th><%= t('my.buttons.edit') %></th>
      <th><%= t('my.buttons.delete') %></th>
    </tr>
  </thead>
  <tbody>
    <% @donaciones.each do |donacion| %>
    <tr>
      <td><%= donacion.donador.nombre %></td>
      <td><%= donacion.cantidad %></td>
      <td><%= donacion.id %></td>
      <td><%= I18n.l donacion.fecha_donacion, format: :long%></td>
      <td><%= I18n.l donacion.created_at, format: :long%></td>
      <td><a href="/donaciones/<%= donacion.id%>/edit" class="btn-floating btn " type="button"><i class="tiny material-icons">mode_edit</i></a></td>
      <td><a href="/donaciones/<%= donacion.id%>" class="btn-floating btn modal-trigger red" type="button" data-method="delete" data-confirm="<%= t('my.delete.donation')%>"><i class="material-icons">delete</i></a></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br/>
<% end %>

<%= will_paginate @donaciones,renderer: MaterializePagination::Rails %>