<br>
<%= form_for(@nino) do |f| %>
<h4> <%= link_to '<i class="material-icons left">keyboard_backspace</i>'.html_safe, :back, class: 'btn-floating waves-effect waves-light'%> <%= t('my.titles.childs.edit')%> <%= @nino.nombre+" "+@nino.ApellidoPaterno+" "+@nino.ApellidoMaterno %></h4>
<div class="divider"></div>
<br>

<div class="row">
  <div class="col m6 offset-m3">
    <%= render 'shared/error_messages', object: f.object %>
    
     <div class="input-field">
        <%= f.label t('my.titles.tables.childs.name'), class: 'active' %>
        <%= f.text_field :nombre, class: 'validate', required: 'true' %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.titles.tables.childs.last_name'), class: 'active' %>
        <%= f.text_field :ApellidoPaterno, class: 'validate', required: 'true' %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.titles.tables.childs.mother_last_name'), class: 'active' %>
        <%= f.text_field :ApellidoMaterno, class: 'validate', required: 'true' %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.titles.tables.childs.birthdate'), class: 'active' %>
        <%= f.date_field :FechaNacimiento, class: 'validate', required: 'true' %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.titles.tables.childs.date_admission'), class: 'active' %>
        <%= f.date_field :Fechaingreso, class: 'validate', required: 'true' %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.titles.tables.childs.age'), class: 'active' %>
        <%= f.number_field :Edad, class: 'validate', required: 'true' %>
      </div>
      
      <div class="input-field">
        <select name="nino[Sexo]" id="nino_Sexo" required>
          <option value="<%= @nino.Sexo %>" selected><%= t('my.titles.tables.childs.sex')%> <%= @nino.Sexo %></option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
        </select>
      </div>
      
      <div class="input-field">
        <select name="nino[Activo]" id="nino_Activo" required>
          <option value="<%= @nino.Activo %>" selected>Activo: <%= if (@nino.Activo) 
                                                                        "(Si)" 
                                                                      else
                                                                        "(No)"
                                                                      end %> </option>
            <option value="1">Activar</option>
            <option value="0">Desactivar</option>
        </select>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.titles.tables.childs.percentage_b'), class: 'active'%>
        <%= f.number_field :PorcentajeBeca, class: 'validate', required: 'true' %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.titles.tables.childs.address'), class: 'active' %>
        <%= f.text_field :Direccion, class: 'validate', required: 'true' %>
      </div>
      
      <%= f.submit t('my.buttons.save'), class: "btn waves-effect waves-light" %>
    <% end %>
        
</div>
</div>