<br>
<h4><%= t('my.titles.childs.index')%></h4> 
<div class="divider"></div>
<br>

<%= form_tag("/ninos", method: "post") do %>
  <div class="row">
    <div class="input-field col s4">
      <%= label_tag(:query, t('my.forms.search')) %>
      <%= text_field_tag(:query) %>
    </div>
  <div class="input-field col s4">
      <button class="btn waves-effect waves-light" type="submit" name="submit" value="enviar"><%= t('my.buttons.search')%>
          <i class="material-icons right">search</i>
      </button>
    </div>
  </div>
<% end %>


<div class="row">
  <div class="col m12">
    <%  if (@nino.count == 0) %>
         <div class="chip">
        <%= t('my.not_found.search_child') %>
        <i class="close material-icons">close</i>
      </div> 
    <% else %>
    <%= will_paginate @nino, renderer: MaterializePagination::Rails %>

<table class="highlight" id="ninos">
    <thead>
        <tr>
            <th><%= t('my.titles.tables.childs.name')%></th>
            <th><%= t('my.titles.tables.childs.id')%></th>
            <th><%= t('my.titles.tables.childs.birthdate')%></th>
            <th><%= t('my.titles.tables.childs.date_admission')%></th>
            <th><%= t('my.titles.tables.childs.age')%></th>
            <th><%= t('my.titles.tables.childs.status')%></th>
            <th><%= t('my.buttons.more')%></th>
        </tr>
    </thead>
    <tbody>
        <% @nino.each do |nino| %>
        <tr>
            <td><%= link_to nino.nombre+" "+nino.ApellidoPaterno+" "+nino.ApellidoMaterno, nino %></td>
            <td><%= nino.idNino %></td>
            <td><%= I18n.l nino.FechaNacimiento, format: :long %></td>
            <td><%= I18n.l nino.Fechaingreso, format: :long %></td>
            <td><%= nino.Edad %></td>
            <td>
                <div class="switch">
        <label>
          No
          <input id="Activo<%= nino.idNino %>" name="Activo" type="checkbox" 
          onclick="ninoActivo(<%= nino.idNino %>)" <%= if (nino.Activo) 
                                                                      "checked" 
                                                                 end %>
          >
          <span class="lever"></span>
          Si
        </label>
                
            </td>
            <td><%= link_to '<i class="material-icons">trending_flat</i>'.html_safe, 
		            nino, class: 'btn-floating waves-effect waves-light'%></td>
        </tr>
        <% end %>
    </tbody>
</table>
 <%= will_paginate @nino, renderer: MaterializePagination::Rails %>
    <% end %>
  </div>
</div>