<br>
<% if (current_user.idRol == 2) %>
	<% if (tiene_permiso(current_user, 16)) %>
		<h4> <%= link_to '<i class="material-icons left">keyboard_backspace</i>'.html_safe, "/terapeutas/#{current_user.idUsuario}", class: 'btn-floating waves-effect waves-light'%> Perfil de: <%= @nino.nombre+" "+@nino.ApellidoPaterno+" "+@nino.ApellidoMaterno %></h4>
	<% end %>
<% else %>
	<% if (tiene_permiso(current_user, 11)) %>
		<h4> <%= link_to '<i class="material-icons left">keyboard_backspace</i>'.html_safe, ninos_path, class: 'btn-floating waves-effect waves-light'%> Perfil de: <%= @nino.nombre+" "+@nino.ApellidoPaterno+" "+@nino.ApellidoMaterno %></h4>
	<% end %>
<% end %>
<div class="divider"></div>
<br>

		<% if (tiene_permiso(current_user, 2)) %>
			<a href="<%= edit_nino_path(@nino)%>" class="btn waves-effect waves-light" type="button"><%= t('my.buttons.edit')%><i class="material-icons right">mode_edit</i></a>
				<%#= link_to "Editar  " '<i class="material-icons right">mode_edit</i>'.html_safe, 
				edit_nino_path(@nino), class: 'btn waves-effect waves-light'%>
		<% end %>
		<% if (tiene_permiso(current_user, 15)) %>
			<a href="<%= historial_path(@nino)%>" class="btn waves-effect waves-light" type="button"><%= t('my.buttons.medical_history')%><i class="material-icons right">note_add</i></a>
				<%#= link_to "Historial Médico  " '<i class="material-icons right">note_add</i>'.html_safe, 
      		historial_path(@nino), class: 'btn waves-effect waves-light'%>
      	<% end %>
    <% if (current_user.idRol != 2) %>				
    <% if (!!@nino.padre) %>
    	<% if(@nino.padre.usuario == current_user) %>
    		<a href="<%= usuario_path(@nino.padre.usuario)%>" class="btn waves-effect waves-light" type="button"><%= t('my.buttons.my_profile')%><i class="material-icons right">perm_identity</i></a>
				<%#= link_to "Mi perfil" '<i class="material-icons right">perm_identity</i>'.html_safe, 
           usuario_path(@nino.padre.usuario), class: 'btn waves-effect waves-light'%>
			<% else %>
			<a href="<%= usuario_path(@nino.padre.usuario)%>" class="btn waves-effect waves-light" type="button"><%= t('my.buttons.parent_profile')%><i class="material-icons right">perm_identity</i></a>
				<%#= link_to "Perfil de padre" '<i class="material-icons right">perm_identity</i>'.html_safe, 
           usuario_path(@nino.padre.usuario), class: 'btn waves-effect waves-light'%>
			<% end %>
    <% else %>
     	<% if (tiene_permiso(current_user, 1)) %>
     		<a href="<%= registrarpadre_path(@nino)%>" class="btn waves-effect waves-light" type="button"><%= t('my.buttons.register_parent')%><i class="material-icons right">perm_identity</i></a>
        <%#= link_to "Registrar Padre" '<i class="material-icons right">perm_identity</i>'.html_safe, 
           registrarpadre_path(@nino), class: 'btn waves-effect waves-light'%>
      <% end %>
    <% end %>
    <% if (@nino.idTerapeuta != nil) %>
    	<a href="/usuarios/<%= @terapeuta.idUsuario%>" class="btn waves-effect waves-light" type="button"><%= t('my.buttons.teraphist_profile')%><i class="material-icons right">perm_identity</i></a>
    <%#= link_to "Perfil de terapeuta" '<i class="material-icons right">perm_identity</i>'.html_safe, 
           "/usuarios/#{@terapeuta.idUsuario}", class: 'btn waves-effect waves-light'%>
			<% end %>
    <% end %>

<div class="row">
  <div class="col m6 offset-m3">
  <br>
  		<% if (@nino.idTerapeuta != nil) %>
  		<label class="active" for="Terapeuta"><strong><%= t('my.titles.tables.childs.therapist_assigned')%></strong></label>
		<p id="Terapeuta"><%= @terapeuta.Nombre+" "+@terapeuta.ApellidoPaterno+" "+@terapeuta.ApellidoMaterno %></p>
		<div class="divider"></div>
		<br>
		<% else %>
		<label class="active" for="Terapeuta"><strong><%= t('my.titles.tables.childs.therapist_assigned')%></strong></label>
		<p id="Terapeuta">Ninguno</p>
		<div class="divider"></div>
		<br>
		<% end %>
		<label class="active" for="NacimientoNino"><strong><%= t('my.titles.tables.childs.birthdate')%></strong></label>
		<p id="NacimientoNino"><%= I18n.l @nino.FechaNacimiento, format: :long %></p>
		<div class="divider"></div>
		<br>
		
		<label class="active" for="IngresoNino"><strong><%= t('my.titles.tables.childs.date_admission')%></strong></label>
		<p id="IngresoNino"><%= I18n.l @nino.Fechaingreso, format: :long %></p>
		<div class="divider"></div>
		<br>

		<label class="active" for="Edad"><strong><%= t('my.titles.tables.childs.age')%></strong></label>
		<p id="Edad"><%= @nino.Edad %></p>
		<div class="divider"></div>
		<br>

		<label class="active" for="Sexo"><strong><%= t('my.titles.tables.childs.sex')%></strong></label>
		<p id="Sexo"><%= @nino.Sexo %></p>
		<div class="divider"></div>
		<br>

		<label class="active" for="Activo"><strong><%= t('my.titles.tables.childs.status')%></strong></label>
		<p id="Activo">
		<%= 
		if(@nino.Activo)
			"Activo"
		else 
		  "Inactivo"
		end
	  %>
	  	<div class="divider"></div>
  	</p>
  	
  		<label class="active" for="PorcentajeBeca"><strong><%= t('my.titles.tables.childs.percentaje')%></strong></label>
		<p id="PorcentajeBeca"><%= @nino.PorcentajeBeca %></p>
		<div class="divider"></div>
		<br>
		
		<label class="active" for="Direccion"><strong><%= t('my.titles.tables.childs.address')%></strong></label>
		<p id="Direccion"><%= @nino.Direccion %></p>
		<div class="divider"></div>
		<br>
  	
  	<br>
  </div>
</div>



