<% provide(:title, "Asignar nuevo alimento") %>
<h4><%= t('my.titles.lists.new_other')%></h4>

<div class="divider"></div><br/>

<%= form_for @lista, url: listas_path(@lista) do |p| %>
  <% @lista.errors.full_messages.each do |message| %>
    <div class="container">
      *<%= message%>
    </div>
  <% end %>
  <div class="row">
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">contacts</i>
          <%#=p.collection_select(:usuario_id, Usuario.where(idRol:3), :idUsuario,:Nombre, { :prompt => true } ) %>
          <%=p.collection_select(:producto_id, Producto.where(existencia: false), :id,:nombre, { :prompt => t('my.forms.donations.new.select_product') }, :required => true) %>
          <%#=p.collection_select(:usuario_id, Usuario.where(idUsuario: Padre.select("idUsuario").where(idNino: Nino.select("idNino").where(Activo: 'true'))) , :idUsuario,:Nombre, { :prompt => true } ) %>
       </div>
       <div class="input-field col s12 m6">
        <i class="material-icons prefix">contacts</i>
          <%#=p.collection_select(:usuario_id, Usuario.where(idRol:3), :idUsuario,:Nombre, { :prompt => true } ) %>
          <%#=p.collection_select(:usuario_id, Usuario.where(idRol:3, Activo:true), :idUsuario,:Nombre, { :prompt => true } ) %>
          <%#=p.collection_select(:usuario_id, Usuario.where(idUsuario: Padre.select("idUsuario").where(idNino: Nino.select("idNino").where(Activo: 'true'))) , :idUsuario,:Nombre, { :prompt => true } ) %>
         
         <select name="lista[usuario_id]">
          <option disabled selected><%= t('my.forms.donations.new.select_parent')%></option>
          <% @padres.each do |padre|%>
            <option value="<%=padre.usuario.idUsuario%>"><%=padre.usuario.Nombre%> <%=padre.usuario.ApellidoPaterno%> <%=padre.usuario.ApellidoMaterno%></option>
          <%end%>
          </select>
       </div>
   </div>
  <div class="row">
    <div class="input-field col s12 m6">
      <i class="material-icons prefix">work</i>
      <%= p.label t('my.forms.donations.new.amount') %><br />
      <%= p.text_field :cantidad, id: "cantidad", class:"validate text_field",type: "text", required:'true'%>
    </div>
    <div class="input-field col s12 m6">
      <i class="material-icons prefix">today</i>
      <%= p.label t('my.forms.same.date_assigned') %><br />
      <%= p.date_field :fecha_asignacion, id: "fecha_asignacion", type:"date", class:"datepicker validate text_field",required:'true'%>
    </div>
  </div>
  
  <br/><br/>
  
  <div class="row">
    <%= p.submit t('my.buttons.save'), :class => 'waves-effect waves-light btn' %>
    <%= link_to t('my.buttons.cancel').html_safe,:back,:class => 'btn waves-effect waves-light red'%>
  </div>
<% end %>