<% provide(:title, "Productos asignados") %>
<h4><%= t('my.titles.lists.index')%></h4>

<div class="divider"></div><br/>

<%#= link_to '<i class="material-icons right">library_add</i> Asignar producto a un padre'.html_safe,'asignar_productos/new',:class => 'btn waves-effect waves-light'%>
<%#= link_to '<i class="material-icons right">shopping_cart</i> Inventario'.html_safe,'/productos',:class => 'btn waves-effect waves-light'%>
<a href="/productos" class="btn waves-effect waves-light" type="button"><%= t('my.header.inventory')%><i class="right material-icons">shopping_cart</i></a>

<%  if (@listas.count == 0) %>
  <br/><br/>
  <div class="chip" id="error">
    <%= t('my.not_found.lists')%>
    <i class="close material-icons">close</i>
  </div>
  <table class="bordered highlight responsive-table">
      <thead>
        <tr>
          <th><%= t('my.titles.tables.lists.parent')%></th>
          <th><%= t('my.titles.tables.lists.child')%></th>
          <th><%= t('my.titles.tables.lists.total')%></th>
          <th><%= t('my.buttons.see')%></th>
        </tr>
      </thead>
      <tbody>
        <% @padres.each do |padre| %>
        <tr>
            <td><%= padre.usuario.Nombre%> <%= padre.usuario.ApellidoPaterno%> <%= padre.usuario.ApellidoMaterno%></td>
            <td>
            <%# @lista.each do |lista|%>
                <%#if padre.idUsuario == lista.usuario_id%>
                    <%# @ninos.each do |nino|%>
                        <%# if nino.idNino == padre.idNino%>
                            <%= padre.nino.nombre%> <%= padre.nino.ApellidoPaterno%> <%= padre.nino.ApellidoMaterno%>
                        <%#end%>
                    <%#end%>
                <%#end%>
            <%#end%>
            </td>
            <td>0</td>
            <td><a href="/lista_asignada/<%= padre.idUsuario%>" class="btn-floating btn " type="button"><i class="tiny material-icons">shopping_basket</i></a></td>
        </tr>
        <% end %>
      </tbody>
    </table>
<% else %>
    <table class="bordered highlight responsive-table">
      <thead>
        <tr>
          <th><%= t('my.titles.tables.lists.parent')%></th>
          <th><%= t('my.titles.tables.lists.child')%></th>
          <th><%= t('my.titles.tables.lists.total')%></th>
          <th><%= t('my.buttons.see')%></th>
        </tr>
      </thead>
      <tbody>
        <% @padres.each do |padre| %>
        <tr>
            <td><%= padre.usuario.Nombre%> <%= padre.usuario.ApellidoPaterno%> <%= padre.usuario.ApellidoMaterno%></td>
            <td>
            <%# @lista.each do |lista|%>
                <%#if padre.idUsuario == lista.usuario_id%>
                    <%# @ninos.each do |nino|%>
                        <%# if nino.idNino == padre.idNino%>
                            <%= padre.nino.nombre%> <%= padre.nino.ApellidoPaterno%> <%= padre.nino.ApellidoMaterno%>
                        <%#end%>
                    <%#end%>
                <%#end%>
            <%#end%>
            </td>
            <td>
                <% @listass.each do |lista| %>
                    <% @cont = 0%>
                    <% @listass.each do |lista| %>
                        <% if lista.usuario_id == padre.idUsuario%>
                            <% @cont = @cont +1%>
                        <%end%>
                    <%end%>
                    
                <%end%>
                <%= @cont%>
            </td>
            <td><a href="/lista_asignada/<%= padre.idUsuario%>" class="btn-floating btn " type="button"><i class="tiny material-icons">shopping_basket</i></a></td>
        </tr>
        <% end %>
      </tbody>
    </table>
<%end%>