<% provide(:title, "Productos asignados") %>
<h4><%= link_to '<i class="material-icons left">keyboard_backspace</i>'.html_safe, '/listas', class: 'btn-floating waves-effect waves-light'%><%= t('my.titles.lists.assigned')%> <%= @padre.Nombre%> <%= @padre.ApellidoPaterno%> <%= @padre.ApellidoMaterno%></h4>

<div class="divider"></div><br/>

<a href="/listas/new/<%= @padre.idUsuario%>" class="btn waves-effect waves-light" type="button"><%= t('my.buttons.new.lists.new')%><i class="material-icons right">library_add</i></a>

<%  if (@listas.count == 0) %>
  <br/><br/>
  <div class="chip" id="error">
    <%= "No hay listas asignadas" %>
    <i class="close material-icons">close</i>
  </div> 
<% else %>
    <table class="bordered highlight responsive-table">
      <thead>
        <tr>
          <th><%= t('my.titles.tables.lists.product')%></th>
          <th><%= t('my.titles.tables.lists.amount')%></th>
          <th><%= t('my.titles.tables.lists.date_list')%></th>
          <th><%= t('my.buttons.edit')%></th>
          <th><%= t('my.buttons.delete')%></th>
        </tr>
      </thead>
      <tbody>
        <% @listas.each do |lista| %>
        <tr>
            <td><%= lista.producto.nombre%></td>
            <td>
            <%= lista.cantidad %>
            </td>
            <td>
                <%= I18n.l lista.fecha_asignacion, format: :long %>
            </td>
            <td><a href="/listas/<%= lista.id%>/edit" class="btn-floating btn " type="button"><i class="tiny material-icons">mode_edit</i></a></td>
            <td><a href="/listas/<%= lista.id%>" class="btn-floating btn modal-trigger red" type="button" data-method="delete" data-confirm="<%= t('my.delete.lists')%>"><i class="material-icons">delete</i></a></td>
        </tr>
        <% end %>
      </tbody>
    </table>
<%end%>