<% provide(:title, "Asignar nuevo alimento") %>
<h4>
    <%= t('my.titles.lists.new')%> <%=@padre.Nombre%> <%=@padre.ApellidoPaterno%> <%=@padre.ApellidoMaterno%>
    <%# @padres.each do |padre|%>
      <%#if padre.idUsuario == @padre.idUsuario%>
        <%# @ninos.each do |nino|%>
          <%# if nino.idNino == padre.idNino%>
            <%#= nino.nombre%> <%#= nino.ApellidoPaterno%> <%#= nino.ApellidoMaterno%>
          <%#end%>
        <%#end%>
      <%#end%>
    <%#end%>
</h4>

<div class="divider"></div><br/>

<%= form_for @lista, url: listas_path(@lista) do |p| %>
  <% @lista.errors.full_messages.each do |message| %>
    <div class="container">
      *<%= message%>
    </div>
  <% end %>
  <div class="row">
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">shopping_cart</i>
          <%#=p.collection_select(:usuario_id, Usuario.where(idRol:3), :idUsuario,:Nombre, { :prompt => true } ) %>
          <%=p.collection_select(:producto_id, Producto.where(existencia: false), :id,:nombre, { :prompt => t('my.forms.donations.new.select_product'),:disabled => true, :class => "select required disabled"} ) %>
          <%#=p.collection_select(:usuario_id, Usuario.where(idUsuario: Padre.select("idUsuario").where(idNino: Nino.select("idNino").where(Activo: 'true'))) , :idUsuario,:Nombre, { :prompt => true } ) %>
       </div>
   </div>
  <div class="row">
    <div class="input-field col s12 m6">
      <i class="material-icons prefix">work</i>
      <%= p.label t('my.forms.donations.new.amount') %><br />
      <%= p.text_field :cantidad, id: "cantidad", class:"validate text_field",type: "text", required:'true'%>
    </div>
    <div class="input-field col s12 m6">
      <i class="material-icons prefix">today</i>
      <%= p.label t('my.forms.same.date_assigned') %><br />
      <%= p.text_field :fecha_asignacion, id: "fecha_pago", type:"date", class:"datepicker",required:'true'%>
    </div>
  </div>
  <%= p.hidden_field :usuario_id, :value => @padre.idUsuario %>
  <br/><br/>
  
  <div class="row">
    <%= p.submit t('my.buttons.save'), :class => 'waves-effect waves-light btn' %>
    <a href="/lista_asignada/<%= @padre.idUsuario%>" class="waves-effect waves-light btn red" type="button"><%= t('my.buttons.cancel')%><i class="material-icons right">replay</i></a>
    <%#= link_to '<i class="material-icons">replay</i> Cancelar'.html_safe,:back,:class => 'btn waves-effect waves-light red'%>
  </div>
<% end %>
