<% if @nino.errors.any? %>
  <div id="error_explanation">
    <div>
      <p><strong>
        La forma contiene <%= pluralize(@nino.errors.count, "error") %>.
      </strong></p>
    </div>
    <% @nino.errors.full_messages.each do |msg| %>
      <div class="chip">
        <%= msg %>
        <i class="close material-icons">close</i>
      </div>
    <% end %>
  </div>
  <br>
<% end %>