<% if object.errors.any? %>
  <div id="error_explanation">
    <div>
      <p><strong>
        La forma contiene <%= pluralize(object.errors.count, "error") %>.
      </strong></p>
    </div>
    <% object.errors.full_messages.each do |msg| %>
      <div class="chip" id="error">
        <%= msg %>
        <i class="close material-icons">close</i>
      </div>
    <% end %>
  </div>
  <br>
<% end %>
