
<a href="/proyecto/new" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Nuevo Proyecto</a>
  <ul class="collection">
      <% @proyectos.each do |proyecto| %>
      <% if proyecto.activo == 1 %>
          <tr>
            <li class="collection-item center-align"><h5>Titulo</h1><hr><br><h5><%= proyecto.titulo %></h5></td>
            <li class="collection-item"><h5 class="center-align">Descripcion del Proyecto</h5><hr><br><b><%= proyecto.descripcion %></b></li>
            <li class="collection-item"><p class="left-align">Fecha de Inicio:  <%= proyecto.fechaInicial %></p><p class="left-align">Fecha de entrega:  <%= proyecto.fechaFinal %></p></li>
          </tr>
          <br>
          <br>
          <br>
          <br>
        <% end %>
          
      <% end %>
      </ul>
     