<br>
<%= form_for(@proyecto) do |pr| %>
    <%= pr.label :titulo %>
    <%= pr.text_field :titulo %>
    <%= pr.label :descripcion %>
    <%= pr.text_field :descripcion %>
    <%= pr.label :"Fecha de Inicio" %>
    <%= pr.date_field :fechaInicial %>
    <%= pr.label :"Fecha de Termino" %>
    <%= pr.date_field :fechaFinal %>
    <%= pr.submit "Guardar Proyecto", class: "btn btn-primary" %>
<% end %>
