<% provide(:title, "Editar donador") %>
<h4><%= t('my.titles.donors.edit')%></h4>

<div class="divider"></div><br/>

<div class="row">
  <div class="col s12 m6 l12">
    <%= form_for @donador,:url => {:controller => "donadores", :action => "update" } do |p| %>
    <%#= form_for @donador, url: donadores_path(@donador) , method: :patch  do |p| %>
    <% @donador.errors.full_messages.each do |message| %>
      <div class="container">
          * <%= message%>
      </div>
    <% end %>
    <div class="row">
      <div class="input-field col s12 m6">
          <i class="material-icons prefix">person_pin</i>
          <%= p.label t('my.forms.same.name') %><br />
          <%= p.text_field :nombre, id: "nombre", type: "text", length: "100",class: "validate", required:'true'%>
      </div>
      <div class="input-field col s12 m6">
          <i class="material-icons prefix">location_on</i>
          <%= p.label t('my.forms.same.address') %><br />
          <%= p.text_field :direccion, id: "direccion", type: "text", length: "200",class: "validate", required:'true'%>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m6">
          <i class="material-icons prefix">perm_identity</i>
          <select name="donador[tipo]" id="tipo" required>
              <option value="<%= @donador.tipo %>" selected><%= @donador.tipo %></option>
              <option value="Institucion gubernamental">Insitucion gubernamental</option>
              <option value="Institucion social">Institucion social</option>
              <option value="Institucion cultural">Institucion cultural</option>
              <option value="Institucion económica">Institucion económica</option>
              <option value="Institucion educativa">Institucion educativa</option>
              <option value="donador particular">Donador particular</option>
          </select>
      </div>
      <div class="input-field col s12 m6">
          <i class="material-icons prefix">phone</i>
          <%= p.label t('my.forms.same.telephone') %><br />
          <%= p.text_field :telefono, id: "telefono", type:"text", length: "20",class:"validate", required:'true' %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m6">
          <i class="material-icons prefix">email</i>
          <%= p.label t('my.forms.same.email') %><br />
          <%= p.text_field :correo, id: "correo", type:"email", length: "100",class:"validate", required:'true' %>
      </div>
      <div class="input-field col s12 m6">
          <i class="material-icons prefix">perm_identity</i>
          <%= p.label t('my.forms.same.RFC') %><br />
          <%= p.text_field :RFC, id: "RFC", type:"text", length: "20",class:"validate", required:'true' %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">contact_phone</i>
          <%= p.label t('my.forms.same.aniversary') %><br />
          <%= p.text_field :aniversario, id: "aniversario", type:"date", class:"datepicker", required:'true'%>
      </div>
    </div>
    <div class="row">
      <%= p.submit t('my.buttons.save'),:class => 'waves-effect waves-light btn' %>
      <%= link_to t('my.buttons.cancel').html_safe,'/donadores',:class => 'btn waves-effect waves-light red'%>
    </div>
  <% end %>
  </div>
 </div>