<% provide(:title, "Donadores") %>
<h4><%= t('my.titles.donors.index')%></h4>

<div class="divider"></div>

<%= form_tag donadores_path, :method => 'get', :id => "donadores_search" do %>
  <div class="row">
    <div class="input-field col s4">
      <%= label_tag(:search, t('my.forms.search')) %>
      <%= text_field_tag :search, params[:search]%>
    </div>
    <div class="input-field col s4">
      <button class="btn waves-effect waves-light" type="submit" name="submit" value="enviar"><%= t('my.buttons.search')%>
        <i class="material-icons right">search</i>
      </button>
    </div>
  </div>
<% end %>

<a href="/donadores/new" class="btn waves-effect waves-light" type="button"><%= t('my.buttons.new.donors.new')%><i class="right material-icons">library_add</i></a>
<a href="/donadores" class="btn waves-effect waves-light" type="button"><%= t('my.buttons.new.donors.lists')%><i class="right material-icons">perm_contact_calendar</i></a>
<a href="/donaciones/new" class="btn waves-effect waves-light" type="button"><%= t('my.buttons.new.donors.add_donation')%><i class="right material-icons">library_add</i></a>
<%#= link_to '<i class="material-icons right">library_add</i> Agregar donador'.html_safe,'/donadores/new',:class => 'btn waves-effect waves-light'%>
<%#= link_to '<i class="material-icons right">perm_contact_calendar</i> Lista de donadores'.html_safe,'/donadores',:class => 'btn waves-effect waves-light'%>
<%#= link_to '<i class="material-icons right">library_add</i> Registrar donación'.html_safe,'/donaciones/new',:class => 'btn waves-effect waves-light'%>

<%= will_paginate @donadores,renderer: MaterializePagination::Rails %>

<%  if (@donadores.count == 0) %>
  <br/><br/>
  <div class="chip" id="error">
    <%= t('my.not_found.donors') %>
    <i class="close material-icons">close</i>
  </div> 
<% else %>
<table class="bordered highlight responsive-table">
  <thead>
    <tr>
      <th><%= t('my.titles.tables.donors.name')%></th>
      <th><%= t('my.titles.tables.donors.address')%></th>
      <th><%= t('my.titles.tables.donors.type')%></th>
      <th><%= t('my.titles.tables.donors.telephone')%></th>
      <th><%= t('my.titles.tables.donors.email')%></th>
      <th><%= t('my.titles.tables.donors.RFC')%></th>
      <th><%= t('my.titles.tables.donors.aniversary')%></th>
      <th><%= t('my.titles.tables.donors.registered')%></th>
      <th><%= t('my.buttons.edit')%></th>
      <th><%= t('my.buttons.delete')%></th>
    </tr>
  </thead>
  <tbody>
    <% @donadores.each do |donador| %>
    <tr>
      <td><%= donador.nombre %></td>
      <td><%= donador.direccion %></td>
      <td><%= donador.tipo %></td>
      <td><%=donador.telefono %></td>
      <td><%= donador.correo %></td>
      <td><%= donador.RFC %></td>
      <td><%= I18n.l donador.aniversario, format: :long %></td>
      <td><%= I18n.l donador.created_at, format: :long %></td>
      <td><a href="/donadores/<%= donador.id%>/edit" class="btn-floating btn " type="button"><i class="tiny material-icons">mode_edit</i></a></td>
      <% if donador.donacions.count > 0 %>
        <td><a href="/donadores" class="btn-floating btn modal-trigger red disabled" type="button"><i class="material-icons">delete</i></a></td>
      <% else %>
        <td><a <a href="/donadores/<%= donador.id%>" class="btn-floating btn modal-trigger red" type="button" data-method="delete" data-confirm="<%= t('my.delete.donor')%>"><i class="material-icons">delete</i></a></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<br/>
<% end %>

<%= will_paginate @donadores,renderer: MaterializePagination::Rails %>

