<br>
<%= form_for(@historial, url: edit_historial_path) do |f| %>
<h4> <%= link_to '<i class="material-icons left">keyboard_backspace</i>'.html_safe, historial_path(@nino), class: 'btn-floating waves-effect waves-light'%> <%= t('my.titles.history.edit')%> <%= @nino.nombre+" "+@nino.ApellidoPaterno+" "+@nino.ApellidoMaterno %></h4>
<div class="divider"></div>
<br>

<div class="row">
  <div class="col m6 offset-m3">
    <%= render 'shared/error_messages', object: f.object %>
    
     <div class="input-field">
        <%= f.label t('my.forms.same.diagnostic'), class: 'active'  %>
        <%= f.text_field :Diagnostico, class: 'validate' %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.forms.same.medicines'), class: 'active' %>
        <%= f.text_area :Medicamentos, class: 'validate materialize-textarea' %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.forms.same.medic'), class: 'active' %>
        <%= f.text_field :Medico, class: 'validate' %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.forms.same.pediatrician'), class: 'active' %>
        <%= f.text_field :Pediatra, class: 'validate'%>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.forms.same.neurologist'), class: 'active' %>
        <%= f.text_field :Neurologo, class: 'validate' %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.forms.same.others_doctors'), class: 'active' %>
        <%= f.text_field :Otro, class: 'validate' %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.forms.same.alergy'), class: 'active' %>
        <%= f.text_area :Alergias, class: 'validate materialize-textarea' %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.forms.same.surgeries'), class: 'active' %>
        <%= f.text_area :Cirugias, class: 'validate materialize-textarea' %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.forms.same.valves'), class: 'active' %>
        <%= f.text_field :Valvulas, class: 'validate' %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.forms.same.crisis'), class: 'active' %>
        <%= f.text_area :Problemas, class: 'validate materialize-textarea' %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.forms.same.therapy'), class: 'active' %>
        <%= f.text_area :Terapias, class: 'validate materialize-textarea' %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.forms.same.fratures'), class: 'active' %>
        <%= f.number_field :Fracturas, class: 'validate' %>
      </div>
      
      <div class="input-field ">
        <%= f.label t('my.forms.same.foods'), class: 'active' %>
        <%= f.text_area :Comida, class: 'validate materialize-textarea' %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.forms.same.milk'), class: 'active' %>
        <%= f.text_field :Leche, class: 'validate' %>
      </div>
      
      <div class="input-field">
        <select name="historial[Crisis]" id="historial_Crisis">
          <option value="<%= @historial.Crisis %>" selected>Crisis: <%= if (@historial.Crisis == true) 
                                          "(Si)"
                                      else
                                          "(No)"
                                      end %></option>
          <option value="1">Si</option>
          <option value="0">No</option>
        </select>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.forms.same.progress'), class: 'active'  %>
        <%= f.text_field :Progreso, class: 'validate' %>
      </div>
      
        <input type="hidden" name="idNino" id="idNino" value="<%= @nino.idNino %>">
      
      <%= f.submit t('my.buttons.save'), class: "btn waves-effect waves-light" %>
    <% end %>
        
</div>
</div>