<br>
<h4> <%= link_to '<i class="material-icons left">keyboard_backspace</i>'.html_safe, nino_path(@nino), class: 'btn-floating waves-effect waves-light'%> <%= t('my.titles.history.index')%> <%= @nino.nombre+" "+@nino.ApellidoPaterno+" "+@nino.ApellidoMaterno %> (<%= @nino.historials.count %>)</h4>
<div class="divider"></div>
<br>
<% if (tiene_permiso(current_user, 1)) %>
<a href="<%= registrarhistorial_path(@nino)%>" class="waves-effect waves-light btn" type="button"><%= t('my.buttons.new.history.new')%><i class="material-icons right">add_box</i></a>
<%#= link_to "Agregar historial  " '<i class="material-icons right">add_box</i>'.html_safe, registrarhistorial_path(@nino), class: 'btn waves-effect waves-light'%>
<% end %>
<br>
<% if @nino.historials.any? %>
      <%= will_paginate @historials %>

<table class="highlight" id="historials">
    <thead>
        <tr>
            <th><%= t('my.titles.tables.diagnostic')%></th>
            <th><%= t('my.titles.tables.created_at')%></th>
            <% if (tiene_permiso(current_user, 2)) %>
            <th><%= t('my.buttons.edit')%></th>
            <% end %>
            <% if (tiene_permiso(current_user, 3)) %>
            <th><%= t('my.buttons.delete')%></th>
            <% end %>
            <th><%= t('my.buttons.more')%></th>
        </tr>
    </thead>
    <tbody>
        <% @nino.historials.each do |historial| %>
        <tr>
            <td><%= historial.Diagnostico %></td>
            <td><%= I18n.l historial.created_at, format: :long %></td>
            <% if (tiene_permiso(current_user, 2)) %>
            <td><%= link_to '<i class="material-icons right">mode_edit</i>'.html_safe, edit_historial_path(historial.idHistorial),
            class: 'btn-floating waves-effect waves-light'%></td>
            <% end %>
            <% if (tiene_permiso(current_user, 3)) %>
            <td><%= link_to '<i class="material-icons right">delete</i>'.html_safe, destroy_historial_path(historial.idHistorial), method: :delete,
            class: 'btn-floating waves-effect red', data: { confirm: t('my.delete.history') }%></td>
            <% end %>
            <td><a href="/historials/<%= historial.idHistorial %>" class="btn-floating waves-effect waves-light" type="button">
                <i class="material-icons">trending_flat</i></a>
            </td>
            <% end %>
    </tbody>
</table>
<% else %>
<br/>
    <div class="chip">
        <%= t('my.not_found.history') %>
        <i class="close material-icons">close</i>
    </div> 

<% end %>