<br>
	<h4>
		<%= link_to '<i class="material-icons left">keyboard_backspace</i>'.html_safe, :back, class: 'btn-floating waves-effect waves-light'%> <%= t('my.titles.history.show')%>:
	</h4>

<div class="divider"></div>

<br>

<div class="row">
  <div class="col m6 offset-m3">
  <br>
		<label class="active" for="Diagnostico"><strong><%= t('my.forms.same.diagnostic')%></strong></label>
		<p id="Diagnostico"><%= @historial.Diagnostico %></p>
		<div class="divider"></div>
		<br>
		<label class="active" for="Medicamentos"><strong><%= t('my.forms.same.medicines')%></strong></label>
		<p id="Medicamentos"><%= @historial.Medicamentos %></p>
		<div class="divider"></div>
		<br>
		<label class="active" for="Medico"><strong><%= t('my.forms.same.medic')%></strong></label>
		<p id="Medico"><%= @historial.Medico %></p>
		<div class="divider"></div>
		<br>
		<label class="active" for="Pediatra"><strong><%= t('my.forms.same.pediatrician')%></strong></label>
		<p id="Pediatra"><%= @historial.Pediatra %></p>
		<div class="divider"></div>
		<br>
		<label class="active" for="Neurologo"><strong><%= t('my.forms.same.neurologist')%></strong></label>
		<p id="Neurologo"><%= @historial.Neurologo %></p>
		<div class="divider"></div>
		<br>
		<label class="active" for="Otro"><strong><%= t('my.forms.same.others_doctors')%></strong></label>
		<p id="Otro"><%= @historial.Otro %></p>
		<div class="divider"></div>
		<br>
		<label class="active" for="Alergias"><strong><%= t('my.forms.same.alergy')%></strong></label>
		<p id="Alergias"><%= @historial.Alergias %></p>
		<div class="divider"></div>
		<br>
		<label class="active" for="Cirugias"><strong><%= t('my.forms.same.surgeries')%></strong></label>
		<p id="Cirugias"><%= @historial.Cirugias %></p>
		<div class="divider"></div>
		<br>
		<label class="active" for="Valvulas"><strong><%= t('my.forms.same.valves')%></strong></label>
		<p id="Valvulas"><%= @historial.Valvulas %></p>
		<div class="divider"></div>
		<br>
		<label class="active" for="Problemas"><strong><%= t('my.forms.same.crisis')%></strong></label>
		<p id="Problemas"><%= @historial.Problemas %></p>
		<div class="divider"></div>
		<br>
		<label class="active" for="Terapias"><strong><%= t('my.forms.same.therapy')%></strong></label>
		<p id="Terapias"><%= @historial.Terapias %></p>
		<div class="divider"></div>
		<br>
		<label class="active" for="Fracturas"><strong><%= t('my.forms.same.fratures')%></strong></label>
		<p id="Fracturas"><%= @historial.Fracturas %></p>
		<div class="divider"></div>
		<br>
		<label class="active" for="Comida"><strong><%= t('my.forms.same.foods')%></strong></label>
		<p id="Comida"><%= @historial.Comida %></p>
		<div class="divider"></div>
		<br>
		<label class="active" for="Leche"><strong><%= t('my.forms.same.milk')%></strong></label>
		<p id="Leche"><%= @historial.Leche %></p>
		<div class="divider"></div>
		<br>
		<label class="active" for="Crisis"><strong>Crisis:</strong></label>
		<p id="Crisis">
		<%= 
		if(@historial.Crisis)
			"Si"
		else 
		  "No"
		end%>
  		</p>
  		<div class="divider"></div>
		<br>
		<label class="active" for="Progreso"><strong><%= t('my.forms.same.progress')%>:</strong></label>
		<p id="Progreso"><%= @historial.Progreso %></p>
		<div class="divider"></div>

  </div>
</div>