<h2><%= t('my.log_in')%></h2>

<% ################### Agregar tags de materialize y reducir tamaño de inputs %>
<%= form_tag sesiones_path do %>
    <div class="row">
        <div class="input-field col s4">
          <%= label_tag t('my.forms.same.email') %>
          <%= text_field_tag :correo, "", class: 'validate', type: 'email',required: 'true' %>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s4">
          <%= label_tag t('my.forms.same.password') %>
          <%= password_field_tag :password, "", class: 'validate',required: 'true' %>
        </div>
    </div>
    <div class="input-field col s4">
      <button class="btn waves-effect waves-light" type="submit" name="submit" value="enviar"><%= t('my.buttons.send')%>
          <i class="material-icons right">send</i>
      </button>
    </div>
<% end %>