<% if(@privilegios.count > 0) %>
<%= form_tag(create_roles_privilegio_path(@role), method: "post", remote: true, html: { style: "display:inline;" }) do %>
  <table class="bordered highlight">
    <thead>
      <tr>
        <th></th>
        <th><%= t('my.privileges_name')%></th>
        <th><%= t('my.description')%></th>
      </tr>
    </thead>
    <tbody>
      <div class="input-field col s12">
      <% @privilegios.each do |p| %>
        <tr>
          <td> 
            <input type="checkbox" name="privilegio[]" id="<%= p.idPrivilegio %>" value="<%= p.idPrivilegio %>"/>
            <label for="<%= p.idPrivilegio %>"></label></td>
            <td>
              <%= p.Nombre %>
            </td>
            <td>
              <%= p.Descripcion %>
            </td>
          </tr>
        <% end %>
        </div>
      </tbody>
    </table>
    <br>
    <button class="btn waves-effect waves-light" type="submit" name="guardar" value="Listo">
      <a class="white-text"><%= t('my.buttons.save')%></a>
      <i class="material-icons right">save</i>
    </button>
    <%= link_to t('my.buttons.cancel'), "#", class: "modal-action modal-close waves-effect btn-flat", data: {dismiss: "modal"} %>
  <% end %>
<% else %>
  <br>
  <%= t('my.ya_assinged')%>
<% end %>