<% @carnes.each do |producto| %>
    <%# if producto.categoria == "Carnes" %>
    <tr>
        <td><%= producto.nombre %></td>
        <td><%= producto.categoria %></td>
        <td>
        <div class="switch">
            <label>
              No
              <input id="Activo<%= producto.id %>" name="Activo" type="checkbox" 
              onclick="productoActivo(<%= producto.id %>)" <%= if (producto.existencia) 
                                                                          "checked" 
                                                                     end %>
              >
              <span class="lever"></span>
              Si
            </label>
        </div>
        </td>
        <td>
            <% if producto.usuarios.count > 0 %>
                <% @listas.each do |lista|%> 
                    <% if lista.producto_id == producto.id%>
                        <%= lista.usuario.Nombre%> <%= lista.usuario.ApellidoPaterno%> <%= lista.usuario.ApellidoMaterno%><br>
                        <%#= producto.asignado %>
                    <%end%>
                <%end%>
            <%else%>
                <%= producto.asignado%>
            <%end%>
        </td>
        <td><a href="/productos/<%= producto.id%>/edit" class="btn-floating btn " type="button"><i class="tiny material-icons">mode_edit</i></a></td>
        <!--<td><a href="<%#= edit_producto_path(producto) %>" class="btn-floating btn " type="button"><i class="tiny material-icons">mode_edit</i></a></td>-->
        <% if producto.listas.count > 0 %>
          <td><a href="/productos" class="btn-floating btn modal-trigger red disabled" type="button"><i class="material-icons">delete</i></a></td>
        <% else %>
           <td><a href="/productos/<%= producto.id%>" class="btn-floating btn modal-trigger red" type="button" data-method="delete" data-confirm="<%= t('my.delete.product')%>"><i class="material-icons">delete</i></a></td>
        <% end %>
    </tr>
    <%# end %>
<% end %>