<%= form_for @producto, url: productos_path(@producto) do |p| %>
    <% @producto.errors.full_messages.each do |message| %>
    <div class="container">
          * <%= message %>
    </div>
    <% end %>
    <div class="row">
      <div class="input-field col s12 m6">
          <i class="material-icons prefix">shopping_cart</i>
          <%= p.label t('my.forms.same.name') %><br />
          <%= p.text_field :nombre, id: "nombre", type: "text", length: "100",class: "validate", required: 'true'%>
      </div>
    </div>
    <%= p.hidden_field :asignado, :value => "No asignado"%>
    <div class="row">
      <div class="input-field col s12 m6">
          <i class="material-icons prefix">view_module</i>
          <select name="producto[categoria]" id="categoria" required>
              <option value="" disabled selected><%= t('my.forms.same.select_product')%></option>
              <option value="Frutas">Frutas</option>
              <option value="Verduras">Verduras</option>
              <option value="Carnes">Carnes</option>
              <option value="Granos/Semillas">Granos/Semillas</option>
              <option value="Abarrotes">Abarrotes</option>
              <option value="Congelados">Congelados</option>
              <option value="Lacteos">Lacteos</option>
              <option value="Higiene">Higiene</option>
          </select>
      </div>
    </div>
    <%= p.hidden_field :existencia, :value => true%>
    <!--<div class="row">
       <div class="input-field col s12 m6">
          <i class="material-icons prefix">contacts</i>
          <%#=p.select :existencia, [['Si', true], ['No', false]]%>
      </div>
    </div>-->
    <br/><br/>
    <div class="row">
      <%= p.submit t('my.buttons.save'), :class => 'waves-effect waves-light btn' %>
      <%= link_to t('my.buttons.cancel').html_safe,'/productos',:class => 'btn waves-effect waves-light red'%>
    </div>
  <% end %>