<h4><%= t('my.buttons.edit')%> <%= @producto.nombre %></h4>

<div class="divider"></div><br/>

<%#= form_for(@producto) do |p| %>
<%= form_for @producto,:url => {:controller => "productos", :action => "update" } do |p| %>
  <% @producto.errors.full_messages.each do |message| %>
    <div class="container">
      *<%= message%>
    </div>
  <% end %>
  <div class="row">
    <div class="input-field col s12 m6">
      <i class="material-icons prefix">shopping_cart</i>
      <%= p.label t('my.forms.same.name') %><br />
      <%= p.text_field :nombre, id: "nombre", type: "text", length: "100",class: "validate", required: 'true'%>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m6">
      <i class="material-icons prefix">view_module</i>
      <select name="producto[categoria]" id="categoria" required>
        <option value="<%= @producto.categoria %>" selected><%= @producto.categoria %></option>
        <option value="Frutas">Frutas</option>
        <option value="Verduras">Verduras</option>
        <option value="Carnes">Carnes</option>
        <option value="Granos/Semillas">Granos/Semillas</option>
        <option value="Abarrotes">Abarrotes</option>
        <option value="Congelados">Congelados</option>
        <option value="Lacteos">Lacteos</option>
        <option value="Higiene">Higiene</option>
      </select>
    </div>
  </div>
  <%= p.hidden_field :asignado, :value => "No asignado" %>
  <br/><br/>
  <div class="row">
    <%= p.submit t('my.buttons.save'), :class => 'waves-effect waves-light btn' %>
    <%= link_to t('my.buttons.cancel').html_safe,'/productos',:class => 'btn waves-effect waves-light red'%>
  </div>
<% end %>
