<% provide(:title, "Cocina") %>
<h4><%= t('my.titles.inventory.index')%></h4>

<div class="divider"></div>

<%#= form_tag("/productos", method: "post") do %>
<%= form_tag productos_path, :method => 'get' do %>
    <div class="row">
        <div class="input-field col s4">
            <%= label_tag(:query, t('my.forms.search')) %>
            <%= text_field_tag :search, params[:search]%>
        </div>
        <div class="input-field col s4">
            <button class="btn waves-effect waves-light" type="submit" name="submit" value="enviar"><%= t('my.buttons.search')%>
                <i class="material-icons right">search</i>
            </button>
        </div>
    </div>
<% end %>


<a href="/productos/new" class="btn waves-effect waves-light" type="button"><%= t('my.buttons.add_product')%><i class="right material-icons">library_add</i></a>
<a href="/productos" class="btn waves-effect waves-light" type="button"><%= t('my.buttons.inventory')%><i class="right material-icons">shopping_cart</i></a>
<a href="asignar_productos/new" class="btn waves-effect waves-light" type="button"><%= t('my.buttons.asign_product')%><i class="right material-icons">library_add</i></a> <br><br>
<a href="<%= desasignado_producto_path(@productos)%>" class="btn waves-effect waves-light" type="button"><%= t('my.buttons.remove')%><i class="right material-icons">loop</i></a>
<a href="/listas" class="btn waves-effect waves-light" type="button"><%= t('my.buttons.see_lists')%><i class="right material-icons">pageview</i></a>
<%#= link_to '<i class="material-icons right">library_add</i> Agregar producto'.html_safe,'/productos/new',:class => 'btn waves-effect waves-light'%>
<%#= link_to '<i class="material-icons right">shopping_cart</i> Inventario'.html_safe,'/productos',:class => 'btn waves-effect waves-light'%>
<%#= link_to '<i class="material-icons right">library_add</i> Asignar producto a un padre'.html_safe,'asignar_productos/new',:class => 'btn waves-effect waves-light'%>
<%#= link_to '<i class="material-icons right">loop</i> Quitar todas las asignaciones'.html_safe, desasignado_producto_path(@productos),:class => 'btn waves-effect waves-light' %>
<%#= link_to '<i class="material-icons right">pageview</i> Ver lista de asignaciones'.html_safe, '/listas',:class => 'btn waves-effect waves-light' %>


<% if @frutas.count > 0 %>
    <h4><%= t('my.titles.tables.products.fruits')%></h4>
    <%#= will_paginate @frutas,renderer: MaterializePagination::Rails %>
    <table class="bordered highlight responsive-table">
        <thead>
            <tr>
                <th><%= t('my.titles.tables.products.name')%></th>
                <th><%= t('my.titles.tables.products.category')%></th>
                <th><%= t('my.titles.tables.products.existense')%></th>
                <th><%= t('my.titles.tables.products.assigned')%></th>
                <th><%= t('my.buttons.edit')%></th>
                <th><%= t('my.buttons.delete')%></th>
            </tr>
        </thead>
        <tbody>
          <%= render 'frutas' %>
        </tbody>
    </table>
    <br/>
<% end %>
    <%#= will_paginate @frutas,renderer: MaterializePagination::Rails %>

<% if @verduras.count > 0 %>
    <h4><%= t('my.titles.tables.products.vegetables')%></h4>
    <%#= will_paginate @verduras,renderer: MaterializePagination::Rails %>
    <table class="bordered highlight responsive-table">
        <thead>
            <tr>
                <th><%= t('my.titles.tables.products.name')%></th>
                <th><%= t('my.titles.tables.products.category')%></th>
                <th><%= t('my.titles.tables.products.existense')%></th>
                <th><%= t('my.titles.tables.products.assigned')%></th>
                <th><%= t('my.buttons.edit')%></th>
                <th><%= t('my.buttons.delete')%></th>
            </tr>
        </thead>
        <tbody>
          <%= render 'verduras' %>
        </tbody>
    </table>
    <br/>
<% end %>
    <%#= will_paginate @verduras,renderer: MaterializePagination::Rails %>
    
<% if @abarrotes.count > 0 %>
    <h4><%= t('my.titles.tables.products.grocery')%></h4>
    <%#= will_paginate @abarrotes,renderer: MaterializePagination::Rails %>
    <table class="bordered highlight responsive-table">
        <thead>
            <tr>
                <th><%= t('my.titles.tables.products.name')%></th>
                <th><%= t('my.titles.tables.products.category')%></th>
                <th><%= t('my.titles.tables.products.existense')%></th>
                <th><%= t('my.titles.tables.products.assigned')%></th>
                <th><%= t('my.buttons.edit')%></th>
                <th><%= t('my.buttons.delete')%></th>
            </tr>
        </thead>
        <tbody>
          <%= render 'abarrotes' %>
        </tbody>
    </table>
    <br/>
<% end %>
    <%#= will_paginate @abarrotes,renderer: MaterializePagination::Rails %>
     
<% if @carnes.count > 0 %>
    <h4><%= t('my.titles.tables.products.meats')%></h4>
    <%#= will_paginate @carnes,renderer: MaterializePagination::Rails %>
    <table class="bordered highlight responsive-table">
        <thead>
            <tr>
                <th><%= t('my.titles.tables.products.name')%></th>
                <th><%= t('my.titles.tables.products.category')%></th>
                <th><%= t('my.titles.tables.products.existense')%></th>
                <th><%= t('my.titles.tables.products.assigned')%></th>
                <th><%= t('my.buttons.edit')%></th>
                <th><%= t('my.buttons.delete')%></th>
            </tr>
        </thead>
        <tbody>
          <%= render 'carnes' %>
        </tbody>
    </table>
    <br/>
<% end %>
    <%#= will_paginate @carnes,renderer: MaterializePagination::Rails %>

<% if @higiene.count > 0 %>
    <h4><%= t('my.titles.tables.products.hygiene')%></h4>
    <%#= will_paginate @higiene,renderer: MaterializePagination::Rails %>
    <table class="bordered highlight responsive-table">
        <thead>
            <tr>
                <th><%= t('my.titles.tables.products.name')%></th>
                <th><%= t('my.titles.tables.products.category')%></th>
                <th><%= t('my.titles.tables.products.existense')%></th>
                <th><%= t('my.titles.tables.products.assigned')%></th>
                <th><%= t('my.buttons.edit')%></th>
                <th><%= t('my.buttons.delete')%></th>
            </tr>
        </thead>
        <tbody>
          <%= render 'higiene' %>
        </tbody>
    </table>
    <br/>
<% end %>
    <%#= will_paginate @higiene,renderer: MaterializePagination::Rails %>
     
<% if @lacteos.count > 0 %>
    <h4><%= t('my.titles.tables.products.milk')%></h4>
    <%#= will_paginate @lacteos,renderer: MaterializePagination::Rails %>
    <table class="bordered highlight responsive-table">
        <thead>
            <tr>
                <th><%= t('my.titles.tables.products.name')%></th>
                <th><%= t('my.titles.tables.products.category')%></th>
                <th><%= t('my.titles.tables.products.existense')%></th>
                <th><%= t('my.titles.tables.products.assigned')%></th>
                <th><%= t('my.buttons.edit')%></th>
                <th><%= t('my.buttons.delete')%></th>
            </tr>
        </thead>
        <tbody>
          <%= render 'lacteos' %>
        </tbody>
    </table>
    <br/>
<% end %>
    <%#= will_paginate @lacteos,renderer: MaterializePagination::Rails %>

<% if @granos.count > 0 %>
    <h4><%= t('my.titles.tables.products.grains')%></h4>
    <%#= will_paginate @granos,renderer: MaterializePagination::Rails %>
    <table class="bordered highlight responsive-table">
        <thead>
            <tr>
                <th><%= t('my.titles.tables.products.name')%></th>
                <th><%= t('my.titles.tables.products.category')%></th>
                <th><%= t('my.titles.tables.products.existense')%></th>
                <th><%= t('my.titles.tables.products.assigned')%></th>
                <th><%= t('my.buttons.edit')%></th>
                <th><%= t('my.buttons.delete')%></th>
            </tr>
        </thead>
        <tbody>
          <%= render 'semillas' %>
        </tbody>
    </table>
    <br/>
<% end %>
    <%#= will_paginate @granos,renderer: MaterializePagination::Rails %>

<% if @congelados.count > 0 %>
    <h4><%= t('my.titles.tables.products.frozen')%></h4>
    <%#= will_paginate @congelados,renderer: MaterializePagination::Rails %>
    <table class="bordered highlight responsive-table">
        <thead>
            <tr>
                <th><%= t('my.titles.tables.products.name')%></th>
                <th><%= t('my.titles.tables.products.category')%></th>
                <th><%= t('my.titles.tables.products.existense')%></th>
                <th><%= t('my.titles.tables.products.assigned')%></th>
                <th><%= t('my.buttons.edit')%></th>
                <th><%= t('my.buttons.delete')%></th>
            </tr>
        </thead>
        <tbody>
          <%= render 'congelados' %>
        </tbody>
    </table>
    <br/>
<% end %>

<%  if( (@frutas.count == 0) and (@verduras.count == 0) and (@abarrotes.count == 0) and (@higiene.count == 0) and (@carnes.count == 0) and (@granos.count == 0) and (@congelados.count == 0) and (@lacteos.count == 0))%>
  <br/><br/>
  <div class="chip" id="error">
    <%= t('my.not_found.no_products') %>
    <i class="close material-icons">close</i>
  </div> 
<% end %>
    <%#= will_paginate @congelados,renderer: MaterializePagination::Rails %>

