<% provide(:title, "Lista-alimentos") %>
<h4><%= t('my.titles.inventory.my_list')%></h4>

<div class="divider"></div><br/>

<%  if (@listas.count == 0) %>
  <br/><br/>
  <div class="chip" id="error">
    <%= t('my.not_found.my_products') %>
    <i class="close material-icons">close</i>
  </div> 
<% else %>
    <table class="bordered highlight responsive-table">
      <thead>
        <tr>
          <th><%= t('my.forms.same.product_name')%></th>
          <th><%= t('my.forms.same.amount')%></th>
          <th><%= t('my.forms.same.date_list')%></th>
          <th><%= t('my.forms.same.date_assigned')%></th>
        </tr>
      </thead>
      <tbody>
        <% @listas.each do |lista| %>
        <tr>
            <td><%= lista.producto.nombre%></td>
            <td><%= lista.cantidad%></td>
            <td><%= I18n.l lista.fecha_asignacion, format: :long%></td>
            <td><%= I18n.l lista.created_at, format: :long%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
<%end%>