<%= form_for @role, html: { style: "display:inline;" } do |f| %>
  <div class="modal-body">
    <div class="input-field">
      <%= f.label t('my.name_role'), class:"active" %>
      <%= f.text_field :Nombre, class: 'validate', required: 'true' %>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect waves-light" onclick type="submit" name="guardar" value="Listo">
      <a class="white-text"><%= t('my.buttons.save')%></a>
      <i class="material-icons right">save</i>
    </button>
    <%= link_to t('my.buttons.cancel'), "#", class: "modal-action modal-close waves-effect btn-flat", data: {dismiss: "modal"} %>
  </div>
<% end %>

