<% provide(:title, "Roles") %>
<br>
<h4><%= t('my.roles')%></h4>
<div class="divider"></div>
<br>
<% if (tiene_permiso(current_user, 1)) %>
	<a class="white-text" href="<%= new_role_path %>" data-remote="true">
    <button class="btn waves-effect waves-light" >
        <%= t('my.create_role')%>
        <i class="material-icons right">add</i>
    </button>
  </a>
<% end %>
<br>

<div class="row">
  <div class="col m8 offset-m2">
    <%  if (@roles.count == 0) %>
         <div class="chip">
        <%= "No se encontraron roles" %>
        <i class="close material-icons">close</i>
      </div> 
    <% else %>
    <%= will_paginate @roles, renderer: MaterializePagination::Rails %>
    <table class="highlight">
        <thead>
          <tr>
              <th><%= t('my.name_role')%></th>
              <th><%= t('my.number_privileges')%></th>
              <% if (tiene_permiso(current_user, 2)) %>
                <th><%= t('my.change_name_role')%></th>
                <th><%= t('my.edit_privileges')%></th>
              <% end %>
              <% if (tiene_permiso(current_user, 3)) %>
                <th><%= t('my.delete_role')%></th>
              <% end %>
          </tr>
        </thead>

        <tbody>
          <% @roles.each do |role| %>
            <tr>
              <td><%= role.Nombre %></td>
              <td><%= role.privilegios.count %></td>
              <% if (tiene_permiso(current_user, 2)) %>
                <td>
                  <a href="<%= edit_role_path(role) %>" data-remote="true" class="btn-floating btn modal-trigger" type="button">
                      <i class="tiny material-icons">mode_edit</i>
                  </a>
                </td>
                <td>
                  <a href="/roles/<%= role.idRol %>" class="btn-floating btn modal-trigger" type="button">
                      <i class="tiny material-icons">list</i>
                  </a>
                </td>
              <% end %>
              <% if (tiene_permiso(current_user, 3)) %>
                <td>
                  <a href="/roles/<%= role.idRol %>" class="btn-floating btn modal-trigger" type="button" 
                      data-method="delete" data-confirm="<%= t('my.delete.role')%>">
                    <i class="tiny material-icons">delete</i>
                  </a>
                </td>
              <% end %>
            </tr>
          <% end %>  
        </tbody>
    </table>
    <%= will_paginate @usuarios, renderer: MaterializePagination::Rails %>
    <% end %>
  </div>
</div>

<div id="rol-modal" class="modal"></div>