<% provide(:title, @roleX.Nombre) %>
<br>

<h4>
<%= link_to '<i class="material-icons">keyboard_backspace</i>'.html_safe, 
            roles_path, class: 'btn-floating waves-effect waves-light'%> 
<%= t('my.edit_role')%> <%= @roleX.Nombre %> 
</h4>

<div class="divider"></div>

<br>

<a class="white-text" href="<%= new_roles_privilegio_path(@roleX) %>" data-remote="true">
  <button class="btn waves-effect waves-light" >
      <%= t('my.add_privileges')%>
      <i class="material-icons right">add</i>
  </button>
</a>

<div class="row">
  <div class="col m8 offset-m2">
  <br>
    <div class="row">
      <div class="col m6">
        <h5><%= t('my.role_privileges')%> </h5>
      </div>
      <div class="col m6">
        
      </div>
    </div>
    <% if (@roleX.privilegios.count > 0)  %>
    <table class="bordered highlight" id="privilegios">
      <thead>
         <tr>
           <th><%= t('my.privileges_name')%></th>
           <th><%= t('my.description')%></th>
           <% if (tiene_permiso(current_user, 3)) %>
             <th><%= t('my.remove_privileges')%></th>
           <% end %>
         </tr>
      </thead>
      
      <tbody>
      <%#= render @role.privilegios %> 
      <% @roleX.privilegios.each do |p| %>
      <tr>
        <td>
             <%= p.Nombre %>
        </td>
        <td>
             <%= p.Descripcion %>
        </td>
        <% if (tiene_permiso(current_user, 3)) %>
        <td>
           <a href="/roles_privilegio/<%= @roleX.idRol %>/<%= p.idPrivilegio %>/delete" class="btn-floating btn modal-trigger" type="button" 
             data-method="delete" data-confirm="¿Seguro que desa eliminar este privilegio al rol?">
             <i class="tiny material-icons">delete</i>
           </a>         
        </td>
        <% end %>
      </tr>
      <% end %>
      </tbody>
    </table>
    <% else %>
      <div class="chip" id="error">
        <%= t('my.not_found.privileges') %>
        <i class="close material-icons">close</i>
      </div>
      <br>
    <% end %>
  	
  </div>
</div>

<div id="privilegios-modal" class="modal"></div>