<%= form_for(@usuario) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <div class="input-field">
        <%= f.label t('my.forms.same.name'), class: "active" %>
        <%= f.text_field :Nombre, class: 'validate', required: 'true' %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.titles.tables.childs.last_name'), class: 'active' %>
        <%= f.text_field :ApellidoPaterno, class: 'validate', required: 'true' %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.titles.tables.childs.mother_last_name'), class: 'active' %>
        <%= f.text_field :ApellidoMaterno, class: 'validate', required: 'true' %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.titles.tables.childs.birthdate'), class: 'active' %>
        <%= f.date_field :FechaNacimiento, class: 'validate', required: 'true' %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.forms.same.telephone'), class: 'active' %>
        <%= f.number_field :Telefono, class: 'validate', required: 'true' %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.forms.same.email'), class: 'active' %>
        <%= f.email_field :Correo, class: 'validate', required: 'true' %>
      </div>
      
      <div class="input-field">
        <select name="usuario[Sexo]" id="usuario_Sexo" required>
          <option value="<%= @usuario.Sexo %>" selected><%= t('my.forms.same.sex')%> <%= @usuario.Sexo %></option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
        </select>
      </div>
      
      <% if(@usuario.idUsuario) %>
      
      <div class="input-field">
        <select name="usuario[idRol]" id="usuario_Rol" required>
          <option value="<%= @usuario.idRol %>" selected><%= t('my.forms.same.role_user')%> <%= @roles.find(@usuario.idRol).Nombre %></option>
          <% @roles.each do |r| %>
            <option value="<%=r.idRol%>"><%=r.Nombre%></option>
          <% end %>
        </select>
      </div>
      
      <div class="input-field">
        <select name="usuario[Activo]" id="usuario_Rol" required>
          <option value="<%= @usuario.Activo %>" selected>Activo: <%= if (@usuario.Activo) 
                                                                        "(Si)" 
                                                                      else
                                                                        "(No)"
                                                                      end %> </option>
            <option value="1">Activar</option>
            <option value="0">Desactivar</option>
        </select>
      </div>
      
      <% else %>
      
      <div class="input-field">
        <select name="usuario[idRol]" id="usuario_Rol" required>
          <option value="" disabled selected><%= t('my.forms.same.role_user')%></option>
          <% @roles.each do |r| %>
            <option value="<%=r.idRol%>"><%=r.Nombre%></option>
          <% end %>
        </select>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.forms.same.password'), class: 'active' %>
        <%= f.password_field :password, class: 'validate', required: 'true', minlength: 6 %>
      </div>
      
      <div class="input-field">
        <%= f.label t('my.forms.same.password_confirmation'), class: 'active' %>
        <%= f.password_field :password_confirmation, class: 'validate', required: 'true', minlength: 6 %>
      </div>
      
      <% end %>
      
      <%= f.submit t('my.buttons.save'), class: "btn waves-effect waves-light" %>
    <% end %>