<tr>
    <td><%= link_to "#{usuario.Nombre} #{usuario.ApellidoPaterno} #{usuario.ApellidoMaterno}", usuario %></td>
    <td><%= usuario.Correo %></td>
    <td><%= usuario.Telefono %></td>
    <td><%= @roles.find(usuario.idRol).Nombre %></td>
    <% if (tiene_permiso(current_user, 2)) %>
    <td>
      <div class="switch">
        <label>
          No
          <input id="Activo<%= usuario.idUsuario %>" name="Activo" type="checkbox" 
          onclick="usuarioActivo(<%= usuario.idUsuario %>)" <%= if (usuario.Activo) 
                                                                      "checked" 
                                                                 end %>
          >
          <span class="lever"></span>
          Si
        </label>
      </div>
    </td>
    <% end %>
    <td>
      <%= link_to '<i class="material-icons">trending_flat</i>'.html_safe, 
		            usuario, class: 'btn-floating waves-effect waves-light'%> 
    </td>
</tr>
