<% provide(:title, 'Editar Usuario') %>

<br>
    <h4>
		<%= link_to '<i class="material-icons">keyboard_backspace</i>'.html_safe, 
		            usuario_path(@usuario), class: 'btn-floating waves-effect waves-light'%> 
		<%= t('my.titles.users.edit')%> <%= "#{@usuario.Nombre} #{@usuario.ApellidoPaterno} #{@usuario.ApellidoMaterno}" %> 
		</h4>
<div class="divider"></div>
<br>
<button class="btn waves-effect waves-light">
			<%= link_to t('my.buttons.cancel_edit'), @usuario, class: "white-text" %>
	<i class="material-icons right">cancel</i>
</button>

<div class="row">
  <div class="col m6 offset-m3">
  <br>
    <%= render 'form' %>
  </div>
</div>