<% provide(:title, "Usuarios") %>
<br>
<div class="row">
  <div class="col m8">
    <h4><%= t('my.users')%></h4>
  </div>
</div>

<div class="divider"></div>

<br>

<%= form_tag("/usuarios", method: "post") do %>
  <div class="row">
    <div class="input-field col s4">
      <%= label_tag(:query, t('my.forms.search')) %>
      <%= text_field_tag(:query) %>
    </div>
    <div class="input-field col s4">
      <button class="btn waves-effect waves-light" type="submit" name="submit" value="enviar"><%= t('my.buttons.search')%>
          <i class="material-icons right">search</i>
      </button>
    </div>
  </div>
<% end %>

<br>
<% if (tiene_permiso(current_user, 1)) %>
  <a href="/usuarios/new" class="btn waves-effect waves-light" type="button"><%= t('my.add_user')%><i class="right material-icons">library_add</i></a>
    <%#= link_to 'Agregar Usuario <i class="material-icons right">library_add</i>'.html_safe,'/usuarios/new',:class => 'btn waves-effect waves-light'%>
<% end %>


<br>
<br>

<div class="row">
  <div class="col m12">
    <%  if (@usuarios.count == 0) %>
      <div class="chip" id="error">
        <%= "No se encontraron usuarios" %>
        <i class="close material-icons">close</i>
      </div> 
    <% else %>
    <%= will_paginate @usuarios, renderer: MaterializePagination::Rails %>
    <table class="highlight" id="usuarios">
        <thead>
          <tr>
              <th><%= t('my.full_name')%></th>
              <th><%= t('my.email')%></th>
              <th><%= t('my.telephone')%></th>
              <th><%= t('my.user_role')%></th>
              <% if (tiene_permiso(current_user, 2)) %>
                <th><%= t('my.status')%></th>
              <% end %>
              <th><%= t('my.buttons.more')%></th>
          </tr>
        </thead>

        <tbody>
          <%= render @usuarios %>  
        </tbody>
    </table>
    <%= will_paginate @usuarios, renderer: MaterializePagination::Rails %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="input-field col s6">
    <h4><%= t('my.users_by_sex')%></h4>
  </div>
  <div class="input-field col s6">
    <h4><%= t('my.users_active')%></h4>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= pie_chart Usuario.group(:Sexo).count %>
  </div>
  <div class="input-field col s6">
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= pie_chart Usuario.group(:Activo).count %>
  </div>
</div>