<% provide(:title, 'Registro Usuario') %>
<br>
<div class="row">
  <div class="col m8">
    <h4><%= t('my.titles.users.new')%></h4>
  </div>
  <div class="col m4">
  </div>
</div>

<div class="divider"></div>

<div class="row">
  <div class="col m6 offset-m3">
  <br>
    <%= render 'form_create' %>
  </div>
</div>