<% provide(:title, @usuario.Nombre) %>
<br>
<% if (current_user.idRol == 2) %>
	<h4><%= t('my.titles.users.show')%> <%= "#{@usuario.Nombre} #{@usuario.ApellidoPaterno} #{@usuario.ApellidoMaterno}" %></h4>
<% else %>
<% if(@nino != nil) %>
	<h4>
		<%= link_to '<i class="material-icons">keyboard_backspace</i>'.html_safe, 
		            :back, class: 'btn-floating waves-effect waves-light'%> 
		<%= t('my.titles.parents.show')%> <%= "#{@usuario.Nombre} #{@usuario.ApellidoPaterno} #{@usuario.ApellidoMaterno}" %>
	</h4>
<% else %>
	<h4>
		<% if (@usuario.idRol != 2) %>
		<%= link_to '<i class="material-icons">keyboard_backspace</i>'.html_safe, 
		            usuarios_path, class: 'btn-floating waves-effect waves-light'%> 
		<%= t('my.titles.users.show')%> <%= "#{@usuario.Nombre} #{@usuario.ApellidoPaterno} #{@usuario.ApellidoMaterno}" %>
		<% else %>
		<%= link_to '<i class="material-icons">keyboard_backspace</i>'.html_safe, 
		            terapeutas_path, class: 'btn-floating waves-effect waves-light'%> 
		<%= t('my.titles.users.show')%> <%= "#{@usuario.Nombre} #{@usuario.ApellidoPaterno} #{@usuario.ApellidoMaterno}" %>
		<% end %>
	</h4>
<% end %>
<% end %>

<div class="divider"></div>

<br>
<%= render 'shared/error_messages', object: @usuario %>

<% if (tiene_permiso(current_user, 2)) %>
	<button class="btn waves-effect waves-light">
 			<%= link_to t('my.buttons.edit'), edit_usuario_path(@usuario), class: "white-text" %>
  	<i class="material-icons right">edit</i>
  </button>
  <% if (@usuario.idRol == 2) %>
	 	<a href="/terapeutas/<%= @usuario.idUsuario %>" class="btn waves-effect waves-light"><%= t('my.buttons.childs_assigned')%><i class="material-icons right">perm_identity</i> </a>
	<% end %>
		<button class="btn waves-effect waves-light">
			<a href="<%= edit_usuario_pass_path(@usuario) %>" class="white-text  modal-trigger" data-remote="true"><%= t('my.buttons.restore_password')%></a>
			<i class="material-icons right">loop</i>
		</button>
<% end %>
<% if(@nino != nil) %>
	<% if(@usuario == current_user) %>
		<button class="btn waves-effect waves-light">
	 			<%= link_to t('my.buttons.my_child_profile'), @nino, class: "white-text" %>
	 		<i class="material-icons right">perm_identity</i>
		</button>
		
	<% else %>
		<button class="btn waves-effect waves-light">
	 			<%= link_to t('my.buttons.child_profile'), @nino, class: "white-text" %>
	 		<i class="material-icons right">perm_identity</i>
		</button>
		<a href="/pagos_por_padre/<%= @usuario.idUsuario%>" class="btn waves-effect waves-light" type="button"><%= t('my.buttons.payments_done')%><i class="material-icons right">monetization_on</i></a><br/><br/>
		<a href="/lista_asignada/<%= @usuario.idUsuario%>" class="btn waves-effect waves-light" type="button"><%= t('my.buttons.foods_assigned')%><i class="right material-icons">shopping_basket</i></a>
	<% end %>
<% end %>

<div class="row">
  <div class="col m6 offset-m3">
  <br>
		<label class="active" for="idUsuario"><strong><%= t('my.forms.same.idUser')%></strong></label>
		<p id="idUsuario"><%= @usuario.idUsuario %></p>
		<div class="divider"></div>
		<br>
		
		<label class="active" for="NombreUsuario"><strong><%= t('my.forms.same.name_complete')%></strong></label>
		<p id="NombreUsuario"><%= "#{@usuario.Nombre} #{@usuario.ApellidoPaterno} #{@usuario.ApellidoMaterno}" %></p>
		<div class="divider"></div>
		<br>

		<label class="active" for="NacimientoUsuario"><strong><%= t('my.forms.same.birthdate')%></strong></label>
		<p id="NacimientoUsuario"><%= @usuario.FechaNacimiento.to_formatted_s(:long) %></p>
		<div class="divider"></div>
		<br>
		
		<label class="active" for="CorreoPersonal"><strong><%= t('my.forms.same.email')%></strong></label>
		<p id="CorreoPersonal"><%= @usuario.Correo %></p>
		<div class="divider"></div>
		<br>

		<label class="active" for="Telefono"><strong><%= t('my.forms.same.telephone')%></strong></label>
		<p id="Telefono"><%= @usuario.Telefono %></p>
		<div class="divider"></div>
		<br>

		<label class="active" for="Sexo"><strong><%= t('my.forms.same.sex')%></strong></label>
		<p id="Sexo"><%= @usuario.Sexo %></p>
		<div class="divider"></div>
		<br>

		<label class="active" for="Activo"><strong><%= t('my.forms.same.status')%></strong></label>
		<p id="Activo">
		<%= 
		if(@usuario.Activo)
			"Activo"
		else 
		  "Inactivo"
		end
	  %>
  	</p>
  	<div class="divider"></div>
  	<br>
  	
    <label class="active" for="Rol"><strong><%= t('my.forms.same.role_user')%></strong></label>
  	<p id="Rol"><%= @roles.find(@usuario.idRol).Nombre %></p>
  	<div class="divider"></div>
    <br>
  	
  </div>
</div>

<div id="pass-modal" class="modal"></div>