<% provide(:title, "Registrar Pago") %>
<h4>
    <%= t('my.titles.payments.payment_of')%> <%=@padre.Nombre%> <%=@padre.ApellidoPaterno%> <%=@padre.ApellidoMaterno%>
    <%= t('my.titles.payments.parent_of')%>
    <% @padres.each do |padre|%>
      <%if padre.idUsuario == @padre.idUsuario%>
        <% @ninos.each do |nino|%>
          <% if nino.idNino == padre.idNino%>
            <%= nino.nombre%> <%= nino.ApellidoPaterno%> <%= nino.ApellidoMaterno%>
          <%end%>
        <%end%>
      <%end%>
    <%end%>
</h4>

<div class="divider"></div><br/>

<% @padres.each do |pa|%>
    <%if pa.idUsuario == @padre.idUsuario%>
        <h4><%= t('my.forms.same.scholarship')%> <%= pa.nino.PorcentajeBeca%>%  <strong> <%= t('my.forms.same.amount_payable')%> <%= 1900-((pa.nino.PorcentajeBeca*1900)/100)%></strong></h4>
    <%end %>
<% end %>

<%= form_for @pago, url: pagos_path(@pago) do |p| %>
  <% @pago.errors.full_messages.each do |message| %>
    <div class="container">
      *<%= message%>
    </div>
  <% end %>
  <div class="row">
    <div class="input-field col s12 m6">
      <i class="material-icons prefix">work</i>
      <%= p.label t('my.forms.same.amount')%><br />
      <%= p.number_field :cantidad, id: "cantidad", class:"validate text_field",type: "text", required:'true'%>
    </div>
    <div class="input-field col s12 m6">
      <i class="material-icons prefix">today</i>
      <%= p.label t('my.forms.same.date_payment') %><br />
      <%= p.text_field :fecha_pago, id: "fecha_pago", type:"date", class:"datepicker",required:'true'%>
    </div>
  </div>
  <%= p.hidden_field :usuario_id, :value => @padre.idUsuario %>
  <br/><br/>
  
  <div class="row">
    <%= p.submit t('my.buttons.save'), :class => 'waves-effect waves-light btn' %>
    <%#= link_to '<i class="material-icons">replay</i> Cancelar'.html_safe,'/pagos_por_padre/#{padre.idUsuario}',:class => 'btn waves-effect waves-light red'%>
    <a href="/pagos_por_padre/<%= @padre.idUsuario%>" class="waves-effect waves-light btn red" type="button"><%= t('my.buttons.cancel')%><i class="material-icons right">replay</i></a>
  </div>
<% end %>
