@import "materialize";

#logo {
  margin-left: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  
}

main {
    flex: 1 0 auto;
}

.pagination a li.active{ 
  color: #fff; 
  padding: 5px;
  margin: 5px;
  background-color: teal;
}

hr { 
   border: 5px solid #ef5350; 
   border-radius: 300px ; 
   height: 0px; 
   text-align: center; 
 }
 
.parallax-container {
      max-height: 400px;
}

