<%= form_for @usuario, url: update_usuario_pass_path, remote: true, html: { style: "display:inline;" } do |f| %>
  <div class="modal-body">
    <div class="input-field">
      <%= f.label t('my.new_password') %>
      <%= f.password_field :password, class: 'validate', required: 'true', minlength: 6 %>
    </div>
    <div class="input-field">
      <%= f.label t('my.confirm') %>
      <%= f.password_field :password_confirmation, class: 'validate', required: 'true', minlength: 6 %>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit t('my.buttons.save'), class: "btn btn-primary waves-effect" %>
    <%= link_to t('my.buttons.cancel'), "#", class: "modal-action modal-close waves-effect btn-flat", data: {dismiss: "modal"} %>
  </div>
<% end %>