<footer class="page-footer">
  <div class="section scrollspy" id="footer">
    <div class="container">
      <%= link_to "#{image_tag("/assets/facebook-box1.png", class: "material-icons left")}".html_safe, "https://www.facebook.com/nensdellum" %>    <h4 class="white-text"><%= t('my.footer.contact')%></h4>
      <div class="row">
        <div class="col s6">
          <p class="white-text"><i class="small material-icons left">perm_identity</i><strong class="white-text">Lic. María del Rosario Méndez Galván</strong></p>
          <p class="white-text"><i class="small material-icons left">location_on</i><strong class="white-text"><%= t('my.footer.address')%> </strong>Calle Química No.69 Col. Industrial</p>
        </div>
        <div class="col s6">
          <p class="white-text"><i class="small material-icons left">email</i><strong class="white-text"><%= t('my.footer.email')%> </strong>danocerebralrosario@hotmail.com</p>
          <p class="white-text"><i class="small material-icons left">call</i><strong class="white-text"><%= t('my.footer.telephone')%> </strong>2122459</p>
        </div>
        </div>
      </div>
  </div>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</footer>
        
<script>
    function usuarioActivo(id){
      var val = $('#Activo' + id).prop('checked');
      $.ajax({
        method: "POST",
        url: "/activarusuario",
        data: {data:val, id:id}
      })
    }
    
    function ninoActivo(idNino){
      var val = $('#Activo' + idNino).prop('checked');
      $.ajax({
        method: "POST",
        url: "/activarnino",
        data: {data:val, idNino:idNino}
      })
    }

    function productoActivo(id){
      var val = $('#Activo' + id).prop('checked');
      $.ajax({
        method: "POST",
        url: "/activarproducto",
        data: {data:val, id:id}
      })
    }
</script>

       