<header>
      <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
      <!-- Dropdown Structure -->
      <% if (tiene_permiso(current_user, 5) or tiene_permiso(current_user, 6)) %>
      <ul id="dropdown1" class="dropdown-content">
        <% if (tiene_permiso(current_user, 4)) %>
          <li><%= link_to t('my.header.register_new'), registrarusuario_path %></li>
        <% end %>
        <li><%= link_to t('my.header.search'), usuarios_path %></li>
        <% if (tiene_permiso(current_user, 6)) %>
          <li><%= link_to "Roles", roles_path %></li>
        <% end %>
      </ul>
      <% end %>
      <!-- Dropdown Structure -->
      <% if (tiene_permiso(current_user, 11)) %>
      <ul id="dropdown2" class="dropdown-content">
        <li><%= link_to t('my.header.register_new'), registrarnino_path %></li>
        <li><%= link_to t('my.header.search_child'), ninos_path %></li>
      </ul>
      <% end %>
      <!-- Dropdown Structure -->
      <% if (tiene_permiso(current_user, 9)) %>
      <ul id="dropdown3" class="dropdown-content">
        <li><%= link_to t('my.header.donations'), donaciones_path %></li>
        <li><%= link_to t('my.header.parents_payments'), pagos_path %></li>
      </ul>
      <% end %>
      <% if (tiene_permiso(current_user, 7)) %>
      <ul id="dropdown4" class="dropdown-content">
        <li><%= link_to t('my.header.inventory'), productos_path %></li>
        <li><%= link_to t('my.header.lists'), listas_path %></li>
      </ul>
      <% end %>
      <div class="navbar-fixed">
        <nav>
          <% if current_user %>
          <%= link_to "NENS DE LLUM", bienvenido_path, id: "logo" %>
          <% else %>
          <%= link_to "NENS DE LLUM", root_path, id: "logo" %>
          <% end %>
          
          <% if current_user %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= "#{current_user.Nombre} #{current_user.ApellidoPaterno} #{current_user.ApellidoMaterno}" %> 
          <% end %>
          
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if current_user %>
            <!-- Botonos de usuario loggeado -->
              <% if (tiene_permiso(current_user, 5) or tiene_permiso(current_user, 6)) %>
                <li><a class="dropdown-button" data-activates="dropdown1"><%= t('my.header.users')%><i class="material-icons right">arrow_drop_down</i></a></li>
              <% end %>
              <% if (tiene_permiso(current_user, 11)) %>
                <li><a class="dropdown-button" data-activates="dropdown2"><%= t('my.header.childs')%><i class="material-icons right">arrow_drop_down</i></a></li>
              <% end %>
              <% if (tiene_permiso(current_user, 16)) %>
                <li><%= link_to t('my.header.therapist'), terapeutas_path %></li>
              <% end %>
              <% if (tiene_permiso(current_user, 7)) %>
                <!--<li><%#= link_to "Cocina", productos_path %></li>-->
                <li><a class="dropdown-button" data-activates="dropdown4"><%= t('my.header.kitchen')%><i class="material-icons right">arrow_drop_down</i></a></li>
              <% end %>
              <% if (tiene_permiso(current_user, 8)) %>
                <li><%= link_to t('my.header.donors'), donadores_path %></li>
              <% end %>
              <%# if (tiene_permiso(current_user, 9)) %>
                <!--<li><%#= link_to "Pagos", pagos_path %></li>-->
              <%# end %>
              <% if (tiene_permiso(current_user, 9)) %>
                <li><a class="dropdown-button" data-activates="dropdown3"><%= t('my.header.payments')%><i class="material-icons right">arrow_drop_down</i></a></li>
              <% end %>
              <!-- Botonos de usuario pader -->
              <% if (!!current_user.padre) %>
                <% if (tiene_permiso(current_user, 12)) %>
                  <li><%= link_to t('my.header.my_child'), current_user.padre.nino %></li>
                <% end %>
              <% end %>
              <% if (tiene_permiso(current_user, 13)) %>
                <li><%= link_to t('my.header.my_payments'), '/pagos_hijo' %></li>
              <% end %>
              <% if (tiene_permiso(current_user, 14)) %>
                <li><%= link_to t('my.header.my_foods'), '/mi_lista_alimentos' %></li>
              <% end %>
              <!-- Botones de usuario terapeuta -->
              <% if (current_user.idRol == 2) %>
                <li><%= link_to t('my.header.my_profile'), "/usuarios/#{current_user.idUsuario}" %></li>
                <li><%= link_to t('my.header.childs_assigned'), "/terapeutas/#{current_user.idUsuario}" %></li>
              <% end %>
              <!-- Fin Botonos de usuario pader -->
              <li><%= link_to t('my.header.log_out'), logout_path %></li>
            <!-- Fin Botonos de usuario loggeado -->
            <% else %>
              <!-- Botonos de usuario no loggeado -->
              <li><a href="#intro"><%= t('my.header.who')%></a></li>
              <li><a href="#terapias"><%= t('my.home.therapies')%></a></li>
              <li><a href="#work"><%= t('my.home.photos')%></a></li>
              <li><a href="#contact"><%= t('my.home.location')%></a></li>
              <li><a href="#footer"><%= t('my.footer.contact')%></a></li>
              <li><%= link_to t('my.header.log_in'), login_path %></li>
              <!-- Fin Botonos de usuario no loggeado -->
            <% end %>
          </ul>
        </nav>
      </div>

</header>