<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
    <div id="flashInfo">
    <% flash.each do |message_type, message| %>
      <br><br>
      <% if (message_type == "Error") %>
        <div class="chip" id="error">
      <% else %>
        <div class="chip light-green lighten-2" id="info">
      <% end %>
          <%= message_type %>: <%= message %>
          <i class="close material-icons">close</i>
        </div>
    <% end %>
    </div>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
  <%= render 'layouts/footer' %>
</html>